<div class="flex flex-col bg-white p-5 rounded h-full">
    <div class="w-full h-80 mb-8 bg-contain bg-no-repeat bg-center flex p-2 items-end" style="background-image: url({{image}});">
        <div class="flex flex-row flex-wrap">
            {{challenges}}
                {{partial:tag label="{{title}}"}}
            {{/challenges}}
            {{partial:tag label="{{collection:title | upper}}"}}
        </div>
    </div>
    <h3 class="mb-4">{{title}}</h3>
    <div class="font-serif leading-6 text-base">{{description}}</div>
</div>