<div class="self-start w-full">
    
    <h5 class="pb-1.5 text-lightpurple border-b border-lightpurple/70 mb-1.5">Our Priorities</h5>
    {{taxonomy:challenges :categories:contains="{{(get:categories | contains(slug))}}"}}
        <a href="/results?categories%5B%5D={{slug}}" class="font-ApercuMono leading-normal hover:no-underline hover:text-highlight antialiased">{{ title }}</a><br>
    {{/taxonomy:challenges}}
    
    <h5 class="mt-[18px] pb-1.5 text-lightpurple border-b border-lightpurple/70 mb-1.5">Format</h5>
    
    {{taxonomy:collection_type slug:isnt="quotation"}}
        <a href="/results?collectiontype%5B%5D={{slug}}" class="font-ApercuMono leading-normal hover:no-underline hover:text-highlight antialiased">{{ title }}</a><br>
    {{/taxonomy:collection_type}}

    <!-- <h5 class="mt-[18px] pb-1.5 text-lightpurple border-b border-lightpurple/70 mb-1.5">Collections</h5>
    {{taxonomy:section :categories:contains="{{(get:categories | contains(slug))}}"}}
        <a href="{{url}}" class="font-ApercuMono leading-normal hover:no-underline hover:text-highlight antialiased">{{ title }}</a><br>
    {{/taxonomy:section}} -->
</div>