<div id="filters" class="col-span-4 xl:col-span-3 pr-[24px] border-r border-lightpurple/70 self-start h-screen">
    <form action="results" method="get">
        <h5 class="pb-[6px] text-lightpurple border-b border-lightpurple/70 mb-[6px]">Format</h5>
        {{taxonomy:collection_type}}
            <label class="font-ApercuMono leading-normal cursor-pointer hover:text-white antialiased">
                <input class="rounded"
                    type="checkbox"
                    name="collectiontype[]"
                    value="{{ slug }}"
                    {{ (get:collectiontype | contains(slug)) ?= 'checked' }}>
                {{ title }}<br>
            </label>
        {{/taxonomy:collection_type}}
        
        <h5 class="mt-[18px] pb-[6px] text-lightpurple border-b border-lightpurple/70 mb-[6px]">Our Priorities</h5>
        {{taxonomy:challenges :categories:contains="{{(get:categories | contains(slug))}}"}}
            <label class="font-ApercuMono leading-normal cursor-pointer hover:text-white antialiased">
                <input class="rounded"
                    type="checkbox"
                    name="categories[]"
                    value="{{ slug }}"
                    {{ (get:categories | contains(slug)) ?= 'checked' }}>
                {{ title }}<br>
            </label>
        {{/taxonomy:challenges}}

        <h5 class="mt-[18px] pb-[6px] text-lightpurple border-b border-lightpurple/70 mb-[6px]">Collections</h5>
        {{taxonomy:section :categories:contains="{{(get:categories | contains(slug))}}"}}
            <label class="font-ApercuMono leading-normal cursor-pointer hover:text-white antialiased">
                <input class="rounded"
                    type="checkbox"
                    name="categories[]"
                    value="{{ slug }}"
                    {{ (get:categories | contains(slug)) ?= 'checked' }}>
                {{ title }}<br>
            </label>
        {{/taxonomy:section}}
        
        <button type="submit" class="btn-primary mt-4">Apply</button>
    </form>
</div>