{{footer}}
<footer class="pt-24 pb-2 px-16 space-y-4 bg-skyNeutral relative z-40">
    
    <div class="grid grid-cols-3 gap-x-16">
        <div class="col-span-2 space-y-4 text-center">
            <div class="textMeta text-white/70">Thanks for visiting</div>
            <h1 class=" text-white/70">The Humanity Initiative</h1>
            <div class="textMain text-center mx-auto leading-snug text-white/70 p-8 row-start-2">
                {{intro}}
            </div>
        </div>
        <div data-speed="1.3" class="col-span-1 flex flex-col items-center space-y-4 pt-60">
            <div class="textMain text-sm text-white/70 leading-normal text-center mb-2">The Humanity Initiative is a registered non-profit. We rely on your support to continue our mission of reawakening mankind to its better angels.</div>
            <div class="space-y-2 flex flex-col items-center">
                <a href="/donate">
                    <button
                        type="button"
                        class="inline-flex items-center gap-8 rounded bg-skyNeutral border-2 border-white/70 px-4 py-1 italic textMain leading-normal text-white shadow-light-3 transition duration-150 ease-in-out hover:bg-skyNeutral/80 hover:shadow-light-2 focus:bg-skyNeutral focus:shadow-light-2 focus:outline-none focus:ring-0 active:bg-skyNeutral active:shadow-light-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                        Donate <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                        </svg>
                    </button>
                </a>
                <a href="mailto:tony@ourhumanity.org">
                    <div class="text-white/70 textMain">Contact Us</div>
                </a>
            </div>
        </div>
    </div>
</footer>
{{/footer}}

<div class="hidden">{{ livewire-collection:pages }}</div>