{{footer}}
<footer class="pt-32 pb-16 space-y-8 bg-blueblast/30 relative z-10">
    <div class="px-32">
        <div class="space-y-4">
            <div class="textMeta">Thanks for visiting</div>
            <h1 class="">The Humanity Initiative</h1>
        </div>
        <div class="grid grid-cols-2 gap-16">
            <div class="prose prose-sky prose-lg row-start-2">
                {{intro}}
            </div>
            <div class="flex flex-col items-end space-y-6 row-start-2">
                <div class="prose prose-sky text-right w-2/3">The Humanity Initiative is a registered non-profit. We rely on your support to continue our mission of reawakening mankind to its better angels.</div>
                <a href="/donate"><button class="btn-primary">Please donate to support our work</button></a>
                <a href="mailto:tony@ourhumanity.org">
                    <button class="btn-tirtiary">Contact Us</button>
                </a>
            </div>
        </div>
    </div>
</footer>
{{/footer}}
