<div id="main-nav" style="border-bottom: solid #ff2b7170 2px;" class="w-full h-16 fixed top-0 left-0 z-50 backdrop-blur bg-lightSkyBlue">      
    <div class="px-16 mx-auto w-full h-full flex flex-row justify-between items-center pt-2 absolute top-0 left-0 z-10">
        <div id="logo" class="">
            <a href="/"><img src="/assets/humanity-logo-blue.png" alt="Humanity Logo" width="180px"></a>
        </div>
        <nav class="flex flex-row">
            {{ nav:topnav }}
                <a href="{{ url }}"{{ if is_current || is_parent }} class="current"{{ /if }} class="ml-12">
                    {{if children}}
                    <div class="relative" data-twe-dropdown-ref>
                        <a
                          class="flex items-center transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
                          href="#"
                          type="button"
                          id="dropdownMenuButton2"
                          data-twe-dropdown-toggle-ref
                          aria-expanded="false"
                          data-twe-ripple-init
                          data-twe-ripple-color="light">
                          {{title}}
                          <span class="ms-2 w-2 [&>svg]:h-5 [&>svg]:w-5">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor">
                              <path
                                fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                            </svg>
                          </span>
                        </a>
                        <ul
                          class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-base shadow-lg data-[twe-dropdown-show]:block dark:bg-surface-dark"
                          aria-labelledby="dropdownMenuButton2"
                          data-twe-dropdown-menu-ref>
                          {{children}}
                          <li>
                            <a
                              class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                              href="challenges/{{slug}}"
                              data-twe-dropdown-item-ref
                              >{{title}}</a
                            >
                          </li>
                          {{/children}}
                        </ul>
                    </div>
                    {{else}}
                    <div class="">{{title}}</div>
                    {{/if}}
                </a>
            {{/nav:topnav}}
        </nav>
    </div>
</div>

<div id="hamburger" class="fixed top-8 left-8 z-30 hidden">
    <div class="col-span-1 col-start-2">
        <i id="openNav" class="las la-grip-lines w-fit text-black text-3xl cursor-pointer bg-white/40 hover:bg-white/90 backdrop-blur-lg rounded-full p-4"></i>
    </div>
</div>

<div id="navigation" class="h-[100vh] w-[100vw] fixed -top-[100vh] left-0 px-32 bg-diamond/90 backdrop-blur-md z-40 grid grid-cols-3 gap-16">
    <div  class="absolute top-8 left-8 z-30">
        <i id="closeNav" class="opacity-0 las la-times text-black text-3xl cursor-pointer bg-white/40 hover:bg-white/90 rounded-full p-4"></i>
    </div>
    <div id="logo" class="absolute top-40 left-32 opacity-0">
            <a href="/"><img src="/assets/humanity-logo.png" alt="Humanity Logo"></a>
    </div>
    <div class="flex flex-col row-start-2">
        <nav class="font-bold text-sm tracking-widest">
            <div class="textMeta menu-title mb-6">Challenges</div>
            {{ nav:left_nav }}
                <a class="menu-item mb-6 block" href="{{url}}">
                    <h3>{{title}}</h3>
                </a>
            {{/nav:left_nav}}
        </nav>
    </div>
    <div class="flex flex-col row-start-2">
        <nav class="font-bold text-sm tracking-widest">
            <div class="textMeta menu-title2 mb-6">Sections</div>
            {{ nav:sections_nav }}
                <a class="menu-item2 mb-6 block" href="{{url}}">
                    <h3>{{title}}</h3>
                </a>
            {{/nav:sections_nav}}
        </nav>
    </div>
    <div class="flex flex-col row-start-2">
        <nav class="font-bold text-sm tracking-widest">
            <div class="textMeta menu-title3 mb-6">Take Action</div>
            {{ nav:action_nav }}
                <a class="menu-item3 mb-6 block" href="{{url}}">
                    <h3>{{title}}</h3>
                </a>
            {{/nav:action_nav}}
        </nav>
    </div>
</div>

<!-- <script>
    var video = document.getElementById("clouds");
    video.playbackRate = 0.5; // Slows down the video to half speed
  </script> -->