<header id="ribbon" class="w-full h-20 fixed z-50 backdrop-blur-lg bg-darkpink/50">
    <div class="container h-full mx-auto items-center grid grid-cols-3 h-16">
        <nav class="space-x-16 text-white/60 font-bold text-sm uppercase tracking-widest">
            {{ nav:left_nav }}
                <a href="{{url}}">
                    {{title | lower}}
                </a>
            {{/nav:left_nav}}
        </nav>
        <a href="/" class="mx-auto"><img src="/assets/humanity-logo.png" width="205.5px" alt="Humanity Logo"></a>
        <div class="text-right h-full flex flex-col justify-center">
            <a href="{{url}}"><button class="border-white mb-0 font-semibold text-lg tracking-widest p-2 px-8 text-warmwhite backdrop-blur-lg">Donate</button></a>
        </div>
    </div>
</header>