<section class="mb-64">
      {{ section_builder }}
        {{ if type == "article" }}
          {{ partial:sectionBuilderComponents/articles }}

        {{ elseif type == "book" }}
          {{ partial:sectionBuilderComponents/books }}

        {{ elseif type == "commencement_speech" }}
            {{ partial:sectionBuilderComponents/commencementSpeeches }}

        {{ elseif type == "documentary" }}
          {{ partial:sectionBuilderComponents/documentaries }}

        {{ elseif type == "talks" }}
          {{ partial:sectionBuilderComponents/talks }}

        {{ elseif type == "interstitial_text" }}
          <div class="container mx-auto">
            <div class="prose font-sans text-offwhite text-xl mx-auto my-32">{{interstitial_text}}</div>
          </div>

        {{ elseif type == "quotation" }}
          <div class="container mx-auto font-serif text-5xl text-center leading-normal my-32 space-y-4">
            <div class="text-offwhite">{{ quotation:quotation }}</div>
            <div class="text-sm font-medium uppercase text-center tracking-widest text-offwhite">— {{ quotation:attribution }}</div>
          </div>

        {{ elseif type == "inspiring_image" }}
          <figure>
            <img src="{{ inspiring_image }}" alt="{{ caption }}" width="100%" />
            <figcaption>{{ caption }}</figcaption>
          </figure>
          
        {{ /if }}
      {{ /section_builder }}
  </section>