<div>
    <img data-speed=".6" src="{{talks:image}}" alt="" width="80%" class="relative z-0">
    <div class="bg-lightgreen rounded w-11/12 mx-auto p-16 space-y-8 relative z-10 backdrop-blur-xl ">
      <div class="font-bold text-warmwhite tracking-normal uppercase text-5xl">{{talks:title}}</div>

      <div class="grid grid-cols-3 gap-16">
        <div class="col-span-2 space-y-8">
          <div class="prose text-darkblack font-medium text-xl">{{talks:description}}</div>
          <div>
            {{partial:buttonStrong buttonLabel="Watch Now"}}
            <a href="{{talks:url}}"><button>Watch Now</button></a>
            <a href="{{talks:url}}"><button>11 more Talks on {{title}}</button></a>
          </div>
        </div>
        <div class="space-y-4">
          <div>
            <span class="uppercase font-medium tracking-wider">Speaker: </span>
            <span class="font-serif">{{talks:speaker}}</span>
          </div>
          <div>
            <span class="uppercase font-medium tracking-wider">Date: </span>
            <span class="font-serif">{{talks:date_of_talk}}</span>
          </div>
          <div>
            <span class="uppercase font-medium tracking-wider">Location: </span>
            <span class="font-serif">{{talks:location_or_event}}</span>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>