{{nav from="themes"}}
<a href="{{url}}">
    <div class="flex flex-col h-[800px] bg-gray-200 border-b-4 relative border-gray-400 justify-center space-y-8">
        <video id="earth" src="{{intro_movie}}" autoplay muted loop style="
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 800px;
            object-fit: cover;
            z-index: 0;"></video>
        <div class="flex flex-col container mx-auto relative z-10 w-full space-y-8">
            <h1 id="itstime" class="text-white w-2/3">{{title}}</h1>
            <!-- <div class="text-6xl text-bold">{{collection:partner_initiatives challenges:contains="{{slug}}" as="entries"}} {{entries | count}} {{/collection:partner_initiatives}} Initiatives</div> -->
        </div>
    </div>
</a>
{{/nav}}