<div id="hero-area" style="background-image: url('{{intro_movie}}');" class="w-full h-[90vh] flex items-center bg-cover bg-center mb-32">
    <!-- <video id="earth" src="{{intro_movie}}" autoplay muted loop style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 66vh;
    object-fit: cover;
    z-index: 0;"></video> -->
    <div data-speed="1.5" class="container mx-auto flex flex-col relative top-[10vh] z-10 space-y-4">
        <div class="text-warmwhite text-8xl font-sans uppercase tracking-wider w-2/3">{{title}}</div>
        <div class="text-3xl font-sans text-warmwhite">{{challenge_intro_text}}</div>
        <!-- <div class="text-bold">{{collection:partner_initiatives challenges:contains="{{slug}}" as="entries"}} {{entries | count}} {{/collection:partner_initiatives}} Initiatives</div> -->
    </div>
</div>

{{partial:sectionBuilder}}

<div class="text-center"><a href="/discover?categories%5B%5D={{slug}}"><button>See all {{title}} content</button></a></div>