<div id="hero-area" style="background-image: url('{{intro_movie}}');" class="w-full h-[90vh] relative flex items-center bg-cover bg-center mb-32 pb-32">
    <!-- <video id="earth" src="{{intro_movie}}" autoplay muted loop style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 66vh;
    object-fit: cover;
    z-index: 0;"></video> -->
    <div id="dimmer" class="bg-gradient-to-t from-black to-transparent h-[60vh] absolute z-0 bottom-0 w-full"></div>
    <div data-speed="1.2" class="container mx-auto flex flex-col relative top-[20vh] z-10 space-y-4 text-warmwhite">
        <div class="text-7xl font-bold uppercase tracking-wide leading-tight">{{title}}</div>
        <div class="text-2xl font-serif leading-normal w-9/12 ">{{challenge_intro_text}}</div>
        <!-- <div class="text-bold">{{collection:partner_initiatives challenges:contains="{{slug}}" as="entries"}} {{entries | count}} {{/collection:partner_initiatives}} Initiatives</div> -->
    </div>
</div>

<div>{{partial:sectionBuilder}}</div>

<div class="text-center"><a href="/discover?categories%5B%5D={{slug}}"><button>See all {{title}} content</button></a></div>