{{partial:globals/breadcrumbWithFilters}}
{{partial:globals/smoothWrapStart}}

<div class="mb-32 px-16 relative z-10">
    <div data-speed=".7" id="challengeIntroImage{{increment:introImage from='1'}}" class="px-16 flex flex-col h-full w-full pt-36 relative z-30 pr-16 mb-8">
        <div class="text-center text-6xl font-bold leading-none tracking-tight text-skyNeutral">
            <div id="counting">{{title}}</div>
        </div>
        <div class="textMain leading-snug text-center mx-auto">
            {{intro}}
        </div>
        <!-- <button id="heroButton" class="btn-primary">{{lead_button_text}}</button> -->
    </div>
    
    <div id="challengeContent" class="container mx-auto grid grid-cols-5 gap-16 mt-16 mb-32 px-8 relative">
        <!-- <style>
            /* Hide inactive checkboxes */
            input[type="checkbox"]:not(:checked) {
                display: none;
            }
        </style> -->
        <!-- <div id="filters" class="col-span-1">
            <form action="{{url}}" method="get">
                <div class="textMeta mb-2">Filters</div>
                <div class="uppercase tracking-wider mt-4">Sections</div>
                {{taxonomy:challenges :categories:contains="{{(get:categories | contains(slug))}}"}}
                    <label class="textMainSans">
                        <input class="rounded"
                            type="checkbox"
                            name="categories[]"
                            value="{{ slug }}"
                            {{ (get:categories | contains(slug)) ?= 'checked' }}>
                        {{ title }}<br>
                    </label>
                {{/taxonomy:challenges}}
                <button type="submit" class="btn-secondary mt-4">Apply</button>
            </form>
        </div> -->
        <div class="col-start-1 col-span-5">
            {{ collection:commencement_speeches as="results"
             }}
                {{ if no_results }}
                    <div class="p-8 rounded-lg bg-gray-100 text-center">
                        Sorry, no results.
                    </div>
                {{ else }}
                    <div class="grid grid-cols-2 gap-32">
                        {{ results | shuffle }}
                            {{ partial:cards/card }}
                        {{ /results }}
                    </div>
                {{ /if }}
            {{ /collection:commencement_speeches }}
        </div>
    </div>
</div>

{{partial:globals/smoothWrapEnd}}