<div class="container mx-auto mt-40 mb-32 relative z-10">
    <div class="flex flex-col mb-24">
        <h2>{{title}}</h2>
        <div class="prose prose-sky prose-lg mt-4">{{intro}}</div>
    </div>
    
    <div id="challengeContent" class="container mx-auto grid grid-cols-5 gap-16 mt-16 mb-32 px-8 relative">
        <!-- <style>
            /* Hide inactive checkboxes */
            input[type="checkbox"]:not(:checked) {
                display: none;
            }
        </style> -->
        <!-- <div id="filters" class="col-span-1">
            <form action="{{url}}" method="get">
                <div class="textMeta mb-2">Filters</div>
                <div class="uppercase tracking-wider mt-4">Sections</div>
                {{taxonomy:challenges :categories:contains="{{(get:categories | contains(slug))}}"}}
                    <label class="textMainSans">
                        <input class="rounded"
                            type="checkbox"
                            name="categories[]"
                            value="{{ slug }}"
                            {{ (get:categories | contains(slug)) ?= 'checked' }}>
                        {{ title }}<br>
                    </label>
                {{/taxonomy:challenges}}
                <button type="submit" class="btn-secondary mt-4">Apply</button>
            </form>
        </div> -->
        <div class="col-start-1 col-span-5">
            {{ collection:commencement_speeches as="results"
             }}
                {{ if no_results }}
                    <div class="p-8 rounded-lg bg-gray-100 text-center">
                        Sorry, no results.
                    </div>
                {{ else }}
                    <div class="grid grid-cols-2 gap-32">
                        {{ results | shuffle }}
                            {{ partial:cards/card }}
                        {{ /results }}
                    </div>
                {{ /if }}
            {{ /collection:commencement_speeches }}
        </div>
    </div>
</div>