<div class="container mx-auto mb-32">
    <h1>Discover</h1>
    {{intro}}
</div>

<div class="container mx-auto grid grid-cols-5 gap-4">
    <div class="col-span-1">
        <h3>Filters</h3>
        <form action="/discover" method="get">
            <div class="uppercase tracking-wider mt-4">Challenges</div>
            {{taxonomy:challenges}}
                <label>
                    <input class="rounded"
                        type="checkbox"
                        name="categories[]"
                        value="{{ slug }}"
                        {{ (get:categories | contains(slug)) ?= 'checked' }}>
                    {{ title }}<br>
                </label>
            {{/taxonomy:challenges}}
            <div class="uppercase tracking-wider mt-4">Content Type</div>
            {{taxonomy:collection_type}}
                <label>
                    <input class="rounded"
                        type="checkbox"
                        name="collectiontype[]"
                        value="{{ slug }}"
                        {{ (get:collectiontype | contains(slug)) ?= 'checked' }}>
                    {{ title }}<br>
                </label>
            {{/taxonomy:collection_type}}
            <button type="submit" class="bg-black mt-4">Submit</button>
        </form>
        
    </div>
    <div class="col-span-4">
        {{ collection from="*" not_from="pages" as="results"
            :taxonomy:challenges:all="get:categories"
            :taxonomy:collection_type="get:collectiontype"
             }}
            {{ if no_results }}
                <div class="p-8 rounded-lg bg-gray-100 text-center">
                    Sorry, no results.
                </div>
            {{ else }}
                <div class="grid grid-cols-3 gap-6">
                    {{ results | shuffle }}
                        <a href="{{url}}">{{ partial:card }}</a>
                    {{ /results }}
                </div>
            {{ /if }}
        {{ /collection }}
    </div>
</div>