<div class="container mx-auto mb-32">
    <h1>Discover</h1>
    {{intro}}
</div>

<div class="container mx-auto">
    <div class="w-full">
        <h3>Filters</h3>
        <form action="/discover" method="get">
            {{taxonomy:challenges}}
                <label>
                    <input class="rounded"
                        type="checkbox"
                        name="categories[]"
                        value="{{ slug }}"
                        {{ (get:categories | contains(slug)) ?= 'checked' }}>
                    {{ title }}<br>
                </label>
            {{/taxonomy:challenges}}
            <button type="submit">Submit</button>
        </form>
        
    </div>
    <div>
        {{ collection from="*" not_from="pages" as="articles"
            :taxonomy:challenges="get:categories"
             }}
            {{ if no_results }}
                <div class="p-8 rounded-lg bg-gray-100 text-center">
                    Sorry, no results.
                </div>
            {{ else }}
                <div class="grid grid-cols-4 gap-6">
                    {{ articles | shuffle }}
                        <a href="{{url}}">{{ partial:card }}</a>
                    {{ /articles }}
                </div>
            {{ /if }}
        {{ /collection }}
    </div>
</div>