<div class="container mx-auto pt-64 mb-32">
    {{intro}}
</div>


    <div id="dropdown-wrapper" class="inline-block">
      <button onclick="toggleMenu()" class="px-10 py-3">
        Themes
      </button>
      <div id="menu" class="hidden flex flex-col bg-white drop-shadow-md">
        <form action="/discover" method="get">
            <div class="uppercase tracking-wider px-5 py-3 mt-4">Themes</div>
            {{taxonomy:challenges}}
                <label class="px-5 py-3 block">
                    <input class="rounded"
                        type="checkbox"
                        name="categories[]"
                        value="{{ slug }}"
                        {{ (get:categories | contains(slug)) ?= 'checked' }}>
                    <a class="pr-8 pl-2 py-3" href="#">{{ title }}</a>
                </label>
            {{/taxonomy:challenges}}
            <button type="submit" class="mt-4">Submit</button>
        </form>
      </div>
    </div>

    <div id="dropdown-wrapper" class="inline-block">
        <button onclick="toggleMenu()" class="px-10 py-3">
          Themes
        </button>
        <div id="menu" class="hidden flex flex-col bg-white drop-shadow-md">
          <form action="/discover" method="get">
              <div class="uppercase tracking-wider px-5 py-3 mt-4">Themes</div>
              {{taxonomy:challenges}}
                  <label class="px-5 py-3 block">
                      <input class="rounded"
                          type="checkbox"
                          name="categories[]"
                          value="{{ slug }}"
                          {{ (get:categories | contains(slug)) ?= 'checked' }}>
                      <a class="pr-8 pl-2 py-3" href="#">{{ title }}</a>
                  </label>
              {{/taxonomy:challenges}}
              <button type="submit" class="mt-4">Submit</button>
          </form>
        </div>
      </div>
  
    <!-- Javascript code -->
    <script>
      var menu = document.getElementById("menu");
  
      // Open/close the menu when the user clicks on the button
      function toggleMenu() {
        if (menu.classList.contains("hidden")) {
          menu.classList.remove("hidden");
        } else {
          menu.classList.add("hidden");
        }
      }
  
      // Close the menu when the user clicks outside of it
      window.onclick = function (event) {
        var dropdownWrapper = document.getElementById("dropdown-wrapper");
        if (!dropdownWrapper.contains(event.target) && !menu.classList.contains("hidden")) {
          menu.classList.add("hidden");
        }
      };
    </script>

  

<div class="container mx-auto grid grid-cols-5 gap-4">
    <div class="col-span-1">
        <form action="/discover" method="get">
            <div class="uppercase tracking-wider mt-4">Themes</div>
            {{taxonomy:challenges}}
                <label class="font-serif text-xs">
                    <input class="rounded"
                        type="checkbox"
                        name="categories[]"
                        value="{{ slug }}"
                        {{ (get:categories | contains(slug)) ?= 'checked' }}>
                    {{ title }}<br>
                </label>
            {{/taxonomy:challenges}}
            <div class="uppercase tracking-wider mt-4">Content Type</div>
            {{taxonomy:collection_type}}
                <label class="font-serif text-xs">
                    <input class="rounded"
                        type="checkbox"
                        name="collectiontype[]"
                        value="{{ slug }}"
                        {{ (get:collectiontype | contains(slug)) ?= 'checked' }}>
                    {{ title }}<br>
                </label>
            {{/taxonomy:collection_type}}
            <button type="submit" class="mt-4">Submit</button>
        </form>
        
    </div>
    <div class="col-span-4">
        {{ collection from="*" not_from="pages" as="results"
            :taxonomy:challenges:all="get:categories"
            :taxonomy:collection_type="get:collectiontype"
             }}
            {{ if no_results }}
                <div class="p-8 rounded-lg bg-gray-100 text-center">
                    Sorry, no results.
                </div>
            {{ else }}
                <div class="grid grid-cols-3 gap-16">
                    {{ results | shuffle }}
                        {{ partial:card }}
                    {{ /results }}
                </div>
            {{ /if }}
        {{ /collection }}
    </div>
</div>