<div class="container mx-auto grid grid-cols-12 gap-16">
    <div class="col-start-5 col-span-8 w-full h-[90vh] bg-no-repeat bg-contain bg-center" style="background-image: url({{main_image}});"></div>

    <video data-speed="1.2" class="col-start-2 row-start-2 col-span-6 relative -top-[50vh]" src="/assets/OurHumanity.mp4" width="100%" height="auto" controls></video>

        <div class="row-start-2 col-start-3 col-span-5 relative top-16">
            <h1>{{title}}</h1>
            <div class="prose prose-sky prose-xl mt-4 mx-auto">{{intro}}</div>
        </div>
        <div data-speed="1.6" class="row-start-2 col-start-8 col-span-4">
            <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe class="mb-32" src="https://donorbox.org/embed/support-the-humanity-initiative?default_interval=m" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important" allow="payment"></iframe>        
            <!-- <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe frameborder="0" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/support-the-humanity-initiative?donor_wall_color=%236b4984&amp;only_donor_wall=true" style="width: 100%; max-width:500px; min-width:310px; min-height: 345px;"></iframe> -->
        </div>
    </div>
</div>