<div class="container mx-auto mt-32 relative z-10 space-y-16">
    <section>
        {{ if blueprint | contains('talk') }}
        <div class="flex flex-col items-center space-y-8">
                <div class="text-5xl font-bold">{{speaker}}</div>
                <div class="flex flex-col w-full items-center space-y-0">
                    <div>{{location_or_event}}</div>
                    <div>{{date_of_talk}}</div>
                </div>
                {{if video_id}}
                <iframe width="812" height="480" src="https://www.youtube.com/embed/{{video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                {{else}}
                <img src="{{image}}" alt="{{title}}" class="w-full">
                {{/if}}
                <div class="prose">{{description}}</div>
        </div>
        {{partial:exploreMore}}
            
        

        {{ elseif blueprint | contains('book') }}
        <section id="heroarea" class="flex flex-row">
            <div class="flex flex-col items-center justify-center p-32 bg-gray-200">
                <img src="{{image}}" width="100%" alt="">
            </div>
            <div class="w-1/2 flex flex-col p-32 space-y-8">
                <h2>{{title}}</h2>
                {{author}}
                {{description}}
            </div>
        </section>
        
        {{elseif blueprint | contains('commencement')}}
        <div class="flex flex-col items-center space-y-8">
            <div class="text-5xl font-bold">{{speaker}}</div>
            <div class="flex flex-col w-full items-center space-y-0">
                <div>{{location}}</div>
                <div>{{date_of_speech}}</div>
            </div>
            {{if video_id}}
            <iframe width="812" height="480" src="https://www.youtube.com/embed/{{video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            {{else}}
            <img src="{{image}}" alt="{{title}}" class="w-full">
            {{/if}}
            <div class="prose">{{description}}</div>
            <div class="bg-warmwhite p-32 pt-16 w-2/3 mx-auto">
                <div class="prose">{{transcript}}</div>
            </div>
        </div>
            {{partial:exploreMore}}
        
        {{else}}
        neither
        {{/if}}
    </section>



    <section>
        <div class="uppercase text-3xl tracking-widest text-offwhite">Suggested content</div>
        <div class="grid grid-cols-4 gap-6">
            {{if related_content}}
                {{related_content}}
                <a href="{{url}}">{{ partial:cards/card }}</a>
                {{/related_content}}
                {{else}}
                No suggested content yet - add some!
            {{/if}}
        </div>
    </section>
</div>