<div id="hero-area" class="w-full h-[100vh] relative flex flex-col items-center justify-center top-0 opacity-0">
    <!-- <video id="earth" src="/assets/earth.mp4" autoplay muted loop style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;"></video> -->
    <div id="earth" data-speed="0.5" style="background-image: url('{{hero_images | random}}');"
    class="bg-no-repeat bg-center bg-cover h-screen w-full absolute top-0 left-0 opacity-1"
    ><div id="dimmer" class="bg-gradient-to-t from-black to-transparent h-[60vh] absolute z-0 bottom-0 w-full"></div>
</div>
    <div id="herotext" class="flex flex-col items-center top-[30vh] space-y-16 relative z-10 w-full text-center space-y-4">
        <div id="counting" class="text-warmwhite text-5xl font-bold uppercase tracking-widest opacity-0">2024 and counting</div>
        <div id="itstime" class="text-green text-5xl font-bold uppercase tracking-widest w-2/3 opacity-0">It's time to rescue our humanity</div>
    </div>
</div>


<section id="intro" class="w-full py-[25vh] bg-warmwhite relative z-10 flex flex-col items-center justify-center space-y-8">
    <div id="introprose" class="w-2/3 text-2xl font-serif leading-loose text-softblack text-center opacity-0" data-speed="1.25">{{intro}}</div>
    <div data-speed="1.25"><a href="/about"><button>About The Humanity Initiative</button></a></div>
</section>  


{{session:set challengeslug="climate"}}
<section id="introblock" class="mb-60">
    <div class="container grid grid-cols-3 relative">
        {{taxonomy:challenges slug:contains="climate"}}
        <div style="background-image: url('{{main_image}}');" class="bg-red-100 col-span-2 w-full h-[70vh] relative flex items-center bg-cover bg-center pb-32"></div>

        <div class="col-span-1">
            <div class="flex flex-col h-full space-x-6 space-y-2 font-bold text-sm text-softblack tracking-widest uppercase w-2/3 mx-auto flex-wrap justify-center items-baseline">
                <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=article">{{collection:articles challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:articles}} Articles</a></div>
                <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=book">{{collection:books challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:books}} Books</a></div>
                <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=commencement-speech">{{collection:commencement_speeches challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:commencement_speeches}} Commencement Speeches</a></div>
                <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=documentaries">{{collection:documentaries challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:documentaries}} Documentaries</a></div>
                <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=partner-initiative">{{collection:partner_initiatives challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:partner_initiatives}} Partner Initiatives</a></div>
                <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=partner-story">{{collection:partner_stories challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:partner_stories}} Partner Stories</a></div>
                <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=photography-contribution">{{collection:photography_contributions challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:photography_contributions}} Photography Contributions</a></div>
                <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=talk">{{collection:talks challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:talks}} Talks</a></div>
            </div>
        </div>

        <div class="col-span-2 col-start-2 -mt-[15vh] z-10">
            {{featured_content limit="1"}}
                {{partial:card}}
            {{/featured_content}}
        </div>
        {{/taxonomy:challenges}}

        <div class="col-span-1 col-start-1">
            <div class="font-thin text-9xl">Saving Climate</div>
        </div>

        <div class="col-span-3 col-start-2">
            <div class="featuredSwiper container mx-auto">
                <div class="flex flex-row space-x-2 mb-4 relative -left-1 take-action-now opacity-0 mt-[40px]">
                    <div class="image-swiper-button-prev"></div>
                    <div class="image-swiper-button-next"></div>
                </div>
                <div class="swiper-wrapper">
                    {{taxonomy:challenges slug:contains="climate"}}
                        {{featured_content offset="1"}}
                            <div class="swiper-slide" style="height: auto !important;">
                                {{partial:card}}
                            </div>
                        {{/featured_content}}
                    {{/taxonomy:challenges}}
                </div>
            </div>
        </div>
    </div>
</section>
{{/session:set}}



<section class="bg-white w-full relative z-50">
    <div class="container mx-auto py-16">
        <h1>How it works</h1>
        <p>We partner with on-the-ground initiatives all over the world, hand-selected for high impact, and led by individuals.</p>
    </div>
</section>



<section class="py-48 space-y-8 text-white relative z-50">
    <div class="font-thin text-8xl text-center leading-tight px-36">
        "Don't look for hope.<br>Look for <span class="font-bold">action</span>."
    </div>
    <div class="font-bold text-center uppercase tracking-wider">
        &mdash; Greta Thunberg
    </div>
</section>

<section id="trending" class="bg-green-50 py-8 relative z-50">
    <div class="container mx-auto space-y-16">
        <h2 class="text-white">trending</h2>

    </div>
</section>

<section id="commencements" class="mt-32 relative z-50">
    <div class="container mx-auto space-y-16">
        <h2 class="text-white">Commencement Speeches</h2>
    </div>
</section>