<div id="hero-area" class="w-full h-full absolute flex items-center justify-center top-0 bg-black">
    <!-- <video id="earth" src="/assets/earth.mp4" autoplay muted loop style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;"></video> -->
    <div id="earth" style="background-image: url('{{hero_images | random}}');"
    class="bg-no-repeat bg-center bg-cover h-screen w-full absolute top-0 left-0"
    ></div>
    <div class="flex flex-col items-center space-y-16 relative z-10 w-full text-center">
        <h2 id="counting" class="absolute text-white">2024 and counting.</h2>
        <h1 id="itstime" class="absolute text-white w-2/3">It's time to rescue our humanity</h1>
    </div>
    <div id="initiatives" class="flex flex-row space-x-8 text-white z-50 absolute bottom-40">
        <span>{{collection:partner_initiatives as="entries"}} {{entries | count}} {{/collection:partner_initiatives}} Initiatives driving action for one world.</span>
    </div>
</div>

<section id="intro" class="relative mt-[100vh] pt-8 pb-16 w-5/12 mx-auto text-center text-softblack leading-7 text-xl">
    {{intro}}
</section>

<!-- <section id="featured" class="bg-khaki py-16 bg-no-repeat bg-top bg-cover" style="background-image: url(/assets/texture.png);">
    <div class="container mx-auto space-y-8">
        <div class="text-forest uppercase tracking-widest font-bold text-5xl">featured</div>
        <div class="swiper featuredSwiper">
            <div class="swiper-wrapper">
                {{featured}}
                    {{if no_results}}
                        <p class="light">No dealers here ... yet!</p>
                    {{else}}
                        <div class="swiper-slide" style="height: auto !important;">
                            {{partial:card}}
                        </div>
                    {{/if}}
                {{/featured}}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section> -->
<section id="featured" class="">
    <div class="container mx-auto space-y-8">
        <div class="text-forest uppercase tracking-widest font-bold text-5xl">featured</div>
        <swiper-container class="featuredSwiper" pagination="true" pagination-clickable="true" navigation="true" slides-per-view="1.25"
        space-between="30" centered-slides="true">
            {{featured}}
                {{if no_results}}
                    <p class="light">No dealers here ... yet!</p>
                {{else}}
                    <div class="swiper-slide" style="height: auto !important;">
                        {{partial:cardExploded}}
                    </div>
                {{/if}}
            {{/featured}}
        </swiper-container>
            
    </div>
</section>

<section class="py-48 space-y-8">
    <div class="font-thin text-8xl text-center leading-tight px-36">
        "Don't look for hope.<br>Look for <span class="font-bold">action</span>."
    </div>
    <div class="font-bold text-center uppercase tracking-wider">
        &mdash; Greta Thunberg
    </div>
</section>
            

<section id="challenges">
    {{nav from="challenges"}}
    <a href="{{url}}">
        <li>{{title}}</li>
    </a>
    {{/nav}}
</section>

<section id="trending" class="bg-green-50 py-8">
    <div class="container mx-auto space-y-16">
        <h2>trending</h2>
        <!-- <div class="swiper trendingSwiper">
            <div class="swiper-wrapper">
                {{featured}}
                    {{if no_results}}
                        <p>No dealers here ... yet!</p>
                    {{else}}
                        <div class="swiper-slide" style="height: auto !important;">
                            {{partial:card}}
                        </div>
                    {{/if}}
                {{/featured}}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div> -->
    </div>
</section>

<section id="commencements" class="mt-32">
    <div class="container mx-auto space-y-16">
        <h2 class="">Commencement Speeches</h2>
    </div>
</section>