<div id="earth" data-speed="2.5" style="background-image: url('{{hero_images | random}}');"
        class="bg-no-repeat bg-center bg-cover h-screen w-full flex flex-col justify-end">
        <div class="p-16 relative z-20 text-center">
            <h1 id="counting" class="text-diamond">2024 and counting.</h1>
            <h1 id="itstime" class="text-atomicTangerine">It's time to rescue our humanity.</h1>
        </div>
        <div id="dimmer" class="bg-gradient-to-t from-black to-transparent h-[60vh] absolute z-0 bottom-0 w-full"></div>
</div>
 

<div id="intro"></div>
<!-- <section id="intro" class="w-full py-[25vh] bg-warmwhite relative z-10 flex flex-col items-center justify-center space-y-8">
    <div id="introprose" class="w-2/3 text-2xl font-serif leading-loose text-softblack text-center opacity-0" data-speed="1.25">{{intro}}</div>
    <div data-speed="1.25"><a href="/about"><button>About The Humanity Initiative</button></a></div>
</section>   -->

<div class="container mx-auto grid lg:grid-cols-2 gap-16 -top-[80vh] mb-40">
    <div class="prose prose-sky">
        {{welcome_text}}
    </div>
    <div class="flex flex-col justify-center">
        <video data-speed=".8" class="col-start-2 row-start-2 col-span-6 relative" src="/assets/OurHumanity.mp4" width="100%" height="auto" controls></video>
        <a href="/donate" data-speed=".8"><button class="btn-primary mt-16">Donate to support</button></a>
    </div>
</div>

{{partial:themeIntroBlock challengeslugpassed="war"}}



{{partial:themeIntroBlock challengeslugpassed="climate"}}

<!-- <section class="py-48 space-y-8 text-white bg-black relative z-50">
    <div class="font-thin text-8xl text-center leading-tight px-36">
        "Don't look for hope.<br>Look for <span class="font-bold">action</span>."
    </div>
    <div class="font-bold text-center uppercase tracking-wider">
        &mdash; Greta Thunberg
    </div>
</section> -->

{{partial:themeIntroBlock challengeslugpassed="democracy"}}








<!-- <section id="trending" class="bg-green-50 py-8 relative z-50">
    <div class="container mx-auto space-y-16">
        <h2 class="text-white">trending</h2>

    </div>
</section> -->

<script src="/js/heroGSAP.js"></script>