<div class="container mx-auto mt-40 mb-32 relative z-10">
    <div class="text-center flex flex-col mb-24 items-center">
        <h1>{{title}}</h1>
        <div class="prose prose-sky prose-xl mt-4 mx-auto">{{intro}}</div>
    </div>
    <div class="grid grid-cols-2 gap-32 px-32">
        {{collection:* not_from="quotations|pages|partner_initiatives" :taxonomy:challenges="inspiration" as="results"}}
            {{results | shuffle}}
                {{ partial:cards/card }}
            {{/results}}
        {{/collection:*}}
    </div>
</div>