<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
      />
      
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

         {{ vite src="resources/js/site.js|resources/css/site.css" }}

         <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
    </head>

    <body class="bg-algae">
        
        <!-- {{partial:nav}} -->
        <div id="smooth-wrapper">
            <div id="smooth-content">
                <main>
                    {{ template_content }}
                    {{partial:newsletter}}
                    {{partial:faq}}
                    {{partial:footer}}
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"></script>
        <script src="/js/ScrollSmoother.min.js"></script>
   
        <script src="/js/scrollEffects.js"></script>
       
        <script src="/js/gsap.js"></script>

        

        <!-- Initialize Swiper -->
        <!-- <script>
            const swiper = new Swiper('.takeActionSwiper', {
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.image-swiper-button-next',
                    prevEl: '.image-swiper-button-prev',
                    disabledClass: "swiper-button-disabled",
                },
                slidesPerView: 1,
                spaceBetween: 30,
                effect: 'fade',
                speed: '1600',
            });
        </script> -->
        <script>
            const swiper = new Swiper('.featuredSwiper', {
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.image-swiper-button-next',
                    prevEl: '.image-swiper-button-prev',
                    disabledClass: "swiper-button-disabled",
                },
                slidesPerView: 2,
                spaceBetween: 30,
                effect: 'slide',
                speed: '1600',
            });
        </script>
    </body>
</html>
