<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        
         <!-- Link Swiper's CSS -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

         {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="bg-gray-100">
        <header class="container mx-auto relative top-4 z-50 text-white">
            <a href="/"><img src="/assets/humanity-logo.png" width="205.5px" alt="Humanity Logo"></a>
        </header>
        {{ template_content }}

        {{partial:newsletter}}
        {{partial:faq}}
        {{partial:footer}}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"></script>
        <script src="js/gsap.js"></script>

        <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
        var swiper = new Swiper(".featuredSwiper", {
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            grabCursor: true,
            pagination: {
            el: ".swiper-pagination",
            clickable: true,
            },
            breakpoints: {
            540: {
            slidesPerView: 1,
            spaceBetween: 30,
            },
            768: {
            slidesPerView: 2,
            spaceBetween: 30,
            },
            992: {
            slidesPerView: 3.5,
            spaceBetween: 30,
            },
            1200: {
            slidesPerView: 3.5,
            spaceBetween: 30,
            },
        },
        });
        </script>

        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".trendingSwiper", {
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                grabCursor: true,
                pagination: {
                el: ".swiper-pagination",
                clickable: true,
                },
                breakpoints: {
                540: {
                slidesPerView: 1,
                spaceBetween: 30,
                },
                768: {
                slidesPerView: 2,
                spaceBetween: 30,
                },
                992: {
                slidesPerView: 3.5,
                spaceBetween: 30,
                },
                1200: {
                slidesPerView: 3.5,
                spaceBetween: 30,
                },
            },
            });
            </script>
    </body>
</html>
