<section id="intro" class="w-full py-[25vh] bg-warmwhite relative z-10 flex flex-col items-center justify-center space-y-8">
    <div id="introprose" class="w-2/3 text-2xl font-serif leading-loose text-softblack text-center" data-speed="1.25">{{intro}}</div>
</section>  

<section id="campaigns" class="py-16">
    <div class="container mx-auto space-y-8">
        <div class="swiper campaignsSwiper">
            <div class="swiper-wrapper">
                {{collection:partner_initiatives}}
                    {{if no_results}}
                        <p class="light">No campaigns here ... yet!</p>
                    {{else}}
                        <div class="swiper-slide" style="height: auto !important;">
                            {{partial:card}}
                        </div>
                    {{/if}}
                {{/collection:partner_initiatives}}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<!-- <section id="partnerLogos" class="py-16">
    <div class="container mx-auto space-y-8">
        <h3>Our partners</h3>
        <div class="grid grid-cols-4 gap-4">
            {{taxonomy:partners}}
                <a href="{{website}}" target="_blank">
                    <div class="h-64 bg-contain bg-no-repeat bg-center" style="background-image: url({{logo}});"></div>
                </a>
            {{/taxonomy:partners}}
        </div>
    </div>
</section> -->

