<div style="background-image: url({{image}});" class="w-full h-[66vh] bg-cover bg-center flex flex-col justify-center p-64 text-warmwhite">
    <div class="font-extrabold text-7xl text-center drop-shadow-md">{{title}}</div>
</div>
<div class="container mx-auto -mt-16 space-y-8 relative z-10">
    <div class="bg-warmwhite p-32 pt-16 w-2/3 mx-auto">
        <img src="{{partner:logo}}" width="200px" class="mx-auto mb-8" alt="{{partner:title}}">
        {{description}}
    </div>

    {{partial:exploreMore}}
</div>