<div class="px-16 pt-20 w-2/3 mx-auto mt-20 space-y-8 text-center">
    <div class="text-center flex flex-col items-center">
        <h1>{{title}}</h1>
        <div class="prose prose-sky prose-xl mt-4 mx-auto">{{intro}}</div>
    </div>
</div>

<div id="challengeContent" class="container mx-auto grid grid-cols-5 gap-16 mt-16 mb-32 px-8 relative">
    <!-- <style>
        /* Hide inactive checkboxes */
        input[type="checkbox"]:not(:checked) {
            display: none;
        }
    </style> -->
    <div id="filters" class="col-span-1">
        <form action="{{url}}" method="get">
            <div class="textMeta mb-2">Filters</div>
            {{taxonomy:challenges :categories:contains="{{(get:categories | contains(slug))}}"}}
                <label class="textMainSans">
                    <input class="rounded"
                        type="checkbox"
                        name="categories[]"
                        value="{{ slug }}"
                        {{ (get:categories | contains(slug)) ?= 'checked' }}>
                    {{ title }}<br>
                </label>
            {{/taxonomy:challenges}}
            <button type="submit" class="btn-secondary mt-4">Apply</button>
        </form>
    </div>
    <div class="col-start-2 col-span-4">
        {{ collection from="partner_initiatives" as="results"
        :taxonomy:challenges:all="get:categories"
         }}
            {{ if no_results }}
                <div class="p-8 rounded-lg bg-gray-100 text-center">
                    Sorry, no results.
                </div>
            {{ else }}
                <div class="grid grid-cols-2 gap-32">
                    {{ results | shuffle }}
                        {{ partial:cards/card }}
                    {{ /results }}
                </div>
            {{ /if }}
        {{ /collection }}
    </div>
</div>





<!-- <section id="partnerLogos" class="py-16">
    <div class="container mx-auto space-y-8">
        <h3>Our partners</h3>
        <div class="grid grid-cols-4 gap-4">
            {{taxonomy:partners}}
                <a href="{{website}}" target="_blank">
                    <div class="h-64 bg-contain bg-no-repeat bg-center" style="background-image: url({{logo}});"></div>
                </a>
            {{/taxonomy:partners}}
        </div>
    </div>
</section> -->

