<div style="background-image: url({{image}});" class="w-full h-[66vh] bg-cover bg-center flex flex-col justify-center p-64 text-warmwhite">
    <div class="font-extrabold text-7xl text-center drop-shadow-md">{{title}}</div>
</div>
<div class="container mx-auto -mt-16 space-y-8 relative z-10">
    <div class="bg-warmwhite p-32 mb-32 pt-16 w-2/3 mx-auto">
        <img src="{{partner:logo}}" width="200px" class="mx-auto mb-8" alt="{{partner:title}}">
        {{description}}
    </div>

    <div class="text-3xl text-center">Explore more Partner Stories...</div>
        <div class="grid grid-cols-2 gap-16 space-between">
            <div class="flex flex-col space-y-4">
                <div>Previous Story:</div>
                {{ collection:previous in="partner_stories" limit="1" sort="date:asc" }}
                    <a href="{{url}}">{{partial:card}}</a>
                {{/collection:previous}}
            </div>
            <div class="flex flex-col space-y-4">
                <div>Up next:</div>
                {{ collection:next in="partner_stories" limit="1" sort="date:asc" }}
                    <a href="{{url}}">{{partial:card}}</a>
                {{/collection:next}}
            </div>
        </div>

</div>