{{session:set challengeslug="{challengeslugpassed}"}}
{{taxonomy:challenges slug:contains="{challengeslug}"}}
    <!-- <div data-speed=".5" class="relative -z-50 bg-no-repeat bg-center bg-cover h-[90vh] py-60 w-full opacity-20" style="background-image: url('{{ collection:photography_contributions challenges:contains='{challengeslugpassed}' sort='random' limit='1' }}{{image}}{{ /collection:photography_contributions }}');"></div>
        <div data-speed="2" class="flex flex-col justify-center items-center h-full p-16">
            {{ collection:quotations challenges:contains="{{challengeslugpassed}}" sort="random" limit="1" }}
                <h3 class="mb-4 text-center">{{quotation}}</h3>
                <div class="textMeta text-center">{{attribution}}</div>
            {{/collection:quotations}}
        </div> -->
    

<!-- <section class="py-48 space-y-8 text-white bg-black relative z-50">
    <div class="font-thin text-8xl text-center leading-tight px-36">
        "Don't look for hope.<br>Look for <span class="font-bold">action</span>."
    </div>
    <div class="font-bold text-center uppercase tracking-wider">
        &mdash; Greta Thunberg
    </div>
</section> -->

<section class="bg-white introblock">
    <div class="grid grid-cols-1 w-full lg:grid-cols-12 px-4 lg:px-0 mx-auto relative">

        <!-- <div id="heroQuote" class="flex flex-col justify-center h-[calc(100vh-96px)] w-1/2 absolute top-[96px] right-0 z-0  p-16 bg-white/90 backdrop-blur">
            {{ collection:quotations challenges:contains="{{challengeslug}}" sort="random" limit="1" }}
                <div class="mb-4 font-displayfont text-5xl leading-tight pr-32">{{quotation}}</div>
                <div class="textSecondary w-2/3">{{attribution}}</div>
            {{/collection:quotations}}
        </div> -->

    {{taxonomy:challenges slug:contains="{challengeslug}"}}
        <!-- main photo -->
        <!-- <div class="col-span-12 lg:col-span-8">
            <div style="background-image: url('{{main_image:image}}');" class="w-full h-[30vh] lg:h-[80vh] relative bg-contain bg-no-repeat bg-right-bottom mb-4"></div>
        </div> -->
        <!-- <div class="lg:row-start-2 lg:col-start-2 col-span-12 lg:col-span-8 mt-1">
            {{partial:cards/tape passedValue="Photography"}}
            <div class="lg:w-1/3 relative z-10">
                <a href="{{main_image:url}}"><h3 class="mb-2">{{main_image:title}} <i class="las la-angle-right text-xl"></i></h3></a>
                <a class="prose prose-sky leading-none" href="{{main_image:url}}">{{main_image:photographer_name}}</a> 
            </div>
        </div> -->
        <!-- quote to right of photo -->
        <!-- <div data-speed=".8" class="lg:col-start-9 col-span-12 lg:col-span-4 lg:h-full lg:row-start-1 flex flex-col lg:justify-center lg:pr-16 lg:pl-6 text-center items-center my-24 lg:my-0 lg:text-left lg:items-start">
            {{ collection:quotations challenges:contains="{{slug}}" sort="random" limit="1" }}
                <div class="prose prose-sky leading-snug mb-4">{{quotation}}</div>
                <div class="textMeta">{{attribution}}</div>
            {{/collection:quotations}}
        </div> -->
        <!-- theme intro title and text -->
        <div data-speed=".8" class="col-span-12 row-span-4 lg:col-span-3 lg:col-start-2 row-start-1 lg:row-start-2 my-24  flex flex-col justify-center space-y-8 lg:row-span-2 ">
            <!-- <h2 class="">{{title_text}}</h2> -->
            <!-- <div class="prose prose-sky prose-xl leading-snug font-medium">{{intro_text}}</div> -->
            <div class="flex flex-row space-x-4">
                <div><a href="{{url}}"><button class="mb-12 btn-primary">Explore</button></a></div>

                <!-- <a href="/take-action-now?categories%5B%5D={{slug}}"><button class="btn-primary">Support our partners</button></a> -->
            </div>
            <!-- <div class="font-medium leading-snug text-lg">{{intro_text}}</div> -->
        </div>
        <!-- featured secondary content -->
        
    </div>
</section>
{{/taxonomy:challenges}}

{{/session:set}}