

{{session:set challengeslug="{challengeslugpassed}"}}

    <!-- <div data-speed=".5" class="relative -z-50 bg-no-repeat bg-center bg-cover h-[90vh] py-60 w-full opacity-20" style="background-image: url('{{ collection:photography_contributions challenges:contains='{challengeslugpassed}' sort='random' limit='1' }}{{image}}{{ /collection:photography_contributions }}');"></div>
        <div data-speed="2" class="flex flex-col justify-center items-center h-full p-16">
            {{ collection:quotations challenges:contains="{{challengeslugpassed}}" sort="random" limit="1" }}
                <h3 class="mb-4 text-center">{{quotation}}</h3>
                <div class="textMeta text-center">{{attribution}}</div>
            {{/collection:quotations}}
        </div> -->
    

<!-- <section class="py-48 space-y-8 text-white bg-black relative z-50">
    <div class="font-thin text-8xl text-center leading-tight px-36">
        "Don't look for hope.<br>Look for <span class="font-bold">action</span>."
    </div>
    <div class="font-bold text-center uppercase tracking-wider">
        &mdash; Greta Thunberg
    </div>
</section> -->

<section id="introblock" class="bg-white">
    <div class="grid grid-cols-1 w-full lg:grid-cols-12 px-4 lg:px-0 mx-auto relative">

        <!-- <div id="heroQuote" class="flex flex-col justify-center h-[calc(100vh-96px)] w-1/2 absolute top-[96px] right-0 z-0  p-16 bg-white/90 backdrop-blur">
            {{ collection:quotations challenges:contains="{{challengeslug}}" sort="random" limit="1" }}
                <div class="mb-4 font-displayfont text-5xl leading-tight pr-32">{{quotation}}</div>
                <div class="textSecondary w-2/3">{{attribution}}</div>
            {{/collection:quotations}}
        </div> -->

    {{taxonomy:challenges slug:contains="{challengeslug}"}}
        <!-- main photo -->
        <!-- <div class="col-span-12 lg:col-span-8">
            <div style="background-image: url('{{main_image:image}}');" class="w-full h-[30vh] lg:h-[80vh] relative bg-contain bg-no-repeat bg-right-bottom mb-4"></div>
        </div> -->
        <!-- <div class="lg:row-start-2 lg:col-start-2 col-span-12 lg:col-span-8 mt-1">
            {{partial:cards/tape passedValue="Photography"}}
            <div class="lg:w-1/3 relative z-10">
                <a href="{{main_image:url}}"><h3 class="mb-2">{{main_image:title}} <i class="las la-angle-right text-xl"></i></h3></a>
                <a class="prose prose-sky leading-none" href="{{main_image:url}}">{{main_image:photographer_name}}</a> 
            </div>
        </div> -->
        <!-- quote to right of photo -->
        <!-- <div data-speed=".8" class="lg:col-start-9 col-span-12 lg:col-span-4 lg:h-full lg:row-start-1 flex flex-col lg:justify-center lg:pr-16 lg:pl-6 text-center items-center my-24 lg:my-0 lg:text-left lg:items-start">
            {{ collection:quotations challenges:contains="{{slug}}" sort="random" limit="1" }}
                <div class="prose prose-sky leading-snug mb-4">{{quotation}}</div>
                <div class="textMeta">{{attribution}}</div>
            {{/collection:quotations}}
        </div> -->
        <!-- theme intro title and text -->
        <div data-speed=".8" class="col-span-12 row-span-4 lg:col-span-3 lg:col-start-2 row-start-1 lg:row-start-2 my-24  flex flex-col justify-center space-y-8 lg:row-span-2 ">
            <h2 class="">{{title_text}}</h2>
            <!-- <div class="prose prose-sky prose-xl leading-snug font-medium">{{intro_text}}</div> -->
            <div class="flex flex-row space-x-4">
                <div><a href="{{url}}"><button class="mb-12 btn-primary">Explore</button></a></div>

                <!-- <a href="/take-action-now?categories%5B%5D={{slug}}"><button class="btn-primary">Support our partners</button></a> -->
            </div>
            <!-- <div class="font-medium leading-snug text-lg">{{intro_text}}</div> -->
        </div>
        <!-- featured secondary content -->
        <div data-speed="1.2" class="col-span-12 lg:col-span-6 lg:row-start-2 lg:col-start-6 -mt-[40vh] mb-24 z-10">
            {{featured_content limit="1"}}
                {{partial:cards/featuredCard}}
            {{/featured_content}}
    {{/taxonomy:challenges}}
    <!-- swiper of tirtiary content -->
    
            <div class="featuredSwiper col-span-12 lg:col-span-6 lg:row-start-2 lg:col-start-6 w-full">
                <div class="flex flex-row justify-end space-x-2 relative -left-1 mt-[40px] mb-8">
                    <div class="image-swiper-button-prev"></div>
                    <div class="image-swiper-button-next"></div>
                </div>
                <div class="swiper-wrapper">
                    {{taxonomy:challenges slug:contains="{challengeslug}"}}
                        {{featured_content offset="1"}}
                            <div class="swiper-slide" style="height: auto !important;">
                                {{partial:cards/card}}
                            </div>
                        {{/featured_content}}
                        
                        <div class="swiper-slide flex flex-col justify-center border-l-[1px] border-earth" style="height: auto !important;">
                            <div class="">
                                
                                <div class="flex flex-col h-full pl-8 space-x-6 space-y-2 font-medium text-2xl tracking-wide text-softblack mx-auto flex-wrap justify-center items-baseline">
                                    <h3 class="mb-4">Explore more...</h3>
                                    <h4><a href="/challenges/{{challengeslug}}?&collectiontype%5B%5D=article">{{collection:articles challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:articles}} Articles</a></h4>
                                    <h4><a href="/challenges/{{challengeslug}}?&collectiontype%5B%5D=book">{{collection:books challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:books}} Books</a></h4>
                                    <h4><a href="/challenges/{{challengeslug}}?&collectiontype%5B%5D=commencement-speech">{{collection:commencement_speeches challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:commencement_speeches}} Commencement Speeches</a></h4>
                                    <h4><a href="/challenges/{{challengeslug}}?&collectiontype%5B%5D=documentaries">{{collection:documentaries challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:documentaries}} Documentaries</a></h4>
                                    <!-- <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=partner-initiative">{{collection:partner_initiatives challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:partner_initiatives}} Partner Initiatives</a></div> -->
                                    <!-- <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=partner-story">{{collection:partner_stories challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:partner_stories}} Partner Stories</a></div> -->
                                    <h4><a href="/challenges/{{challengeslug}}?&collectiontype%5B%5D=photography-contribution">{{collection:photography_contributions challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:photography_contributions}} Photography Contributions</a></h4>
                                    <h4><a href="/challenges/{{challengeslug}}?&collectiontype%5B%5D=talk">{{collection:talks challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:talks}} Talks</a></h4>
                                </div>
                                <a href="/challenges/{{slug}}" class="pl-12"><button class="btn-primary">Explore</button></a>

                            </div>
                        </div>
                        
                    {{/taxonomy:challenges}}
                </div>
            </div>
        </div>
    </div>
</section>

{{/session:set}}