{{session:set challengeslug="{challengeslugpassed}"}}
<section id="introblock" class="mb-16">
    <div class="grid grid-cols-12 relative">
        {{taxonomy:challenges slug:contains="{challengeslug}"}}
            <!-- main photo -->
            <div class="col-span-8">
                <div style="background-image: url('{{main_image:image}}');" class="w-full h-[80vh] relative bg-contain bg-no-repeat bg-left-bottom mb-4"></div>
            </div>
            <div class="row-start-2 col-start-2 col-span-8 mt-1">
                <a href="/index?collectiontype%5B%5D={{collection_type:slug}}" class="font-thin text-xl leading-loose tracking-widest border-t-[24px] border-highlighter pt-4 z-50 relative">Photography</a>
                <div class="font-medium w-1/3 leading-tight relative z-10">
                    <a class="text-2xl leading-normal" href="{{main_image:url}}">{{main_image:title}} <i class="las la-angle-right text-xl"></i></a><br>
                    <a class="text-lg leading-snug" href="{{main_image:url}}">{{main_image:photographer_name}}</a> 
                </div>
            </div>
            <!-- text to right of photo, currently index of theme content by type -->
            <div data-speed=".8" class="col-start-9 h-full row-start-1 col-span-4 flex flex-col justify-center p-16 font-thin text-2xl leading-normal tracking-wide">{{intro_text}}</div>
            <!-- theme intro title and text -->
            <div data-speed=".8" class="col-span-3 -mt-[20vh] flex flex-col justify-center space-y-8 row-start-2 row-span-2 col-start-2">
                <div class="font-thin leading-tighter tracking-wide text-7xl">{{title_text}}</div>
                <!-- <div class="font-medium leading-snug text-lg">{{intro_text}}</div> -->
            </div>
            <!-- featured secondary content -->
            <div data-speed="1.2" class="col-span-6 row-start-2 col-start-6 -mt-[40vh] mb-24 z-10">
                {{featured_content limit="1"}}
                    {{partial:cards/featuredCard}}
                {{/featured_content}}
        {{/taxonomy:challenges}}
        <!-- swiper of tirtiary content -->
        
            <div class="featuredSwiper">
                <div class="flex flex-row justify-end space-x-2 relative -left-1 take-action-now opacity-0 mt-[40px]">
                    <div class="image-swiper-button-prev"></div>
                    <div class="image-swiper-button-next"></div>
                </div>
                <div class="swiper-wrapper">
                    {{taxonomy:challenges slug:contains="{challengeslug}"}}
                        {{featured_content offset="1"}}
                            <div class="swiper-slide" style="height: auto !important;">
                                {{partial:cards/card}}
                            </div>
                        {{/featured_content}}
                        
                        <div class="swiper-slide flex flex-col justify-center border-l-[1px] border-earth" style="height: auto !important;">
                            <div class="">
                                
                                <div class="flex flex-col h-full pl-8 space-x-6 space-y-2 font-medium text-2xl tracking-wide text-softblack mx-auto flex-wrap justify-center items-baseline">
                                    <div class="font-thin text-2xl mb-4">Explore more...</div>
                                    <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=article">{{collection:articles challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:articles}} Articles</a></div>
                                    <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=book">{{collection:books challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:books}} Books</a></div>
                                    <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=commencement-speech">{{collection:commencement_speeches challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:commencement_speeches}} Commencement Speeches</a></div>
                                    <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=documentaries">{{collection:documentaries challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:documentaries}} Documentaries</a></div>
                                    <!-- <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=partner-initiative">{{collection:partner_initiatives challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:partner_initiatives}} Partner Initiatives</a></div> -->
                                    <!-- <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=partner-story">{{collection:partner_stories challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:partner_stories}} Partner Stories</a></div> -->
                                    <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=photography-contribution">{{collection:photography_contributions challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:photography_contributions}} Photography Contributions</a></div>
                                    <div><a href="/index?categories%5B%5D={{challengeslug}}&collectiontype%5B%5D=talk">{{collection:talks challenges:contains="{{challengeslug}}" as="entries"}} {{entries | count}} {{/collection:talks}} Talks</a></div>
                                </div>
                            </div>
                        </div>
                        
                    {{/taxonomy:challenges}}
                </div>
            </div>
        </div>
    </div>
</section>

{{/session:set}}