{{partial:globals/smoothWrapStart}}

{{partial:globals/breadcrumb-tags}}


<div data-speed=".7" class="px-16 flex flex-col h-full w-full pt-36 relative z-30 pr-16 -mt-8 mb-36">
    <div class="text-center text-6xl font-bold leading-none tracking-tight text-white/70">
        <div id="counting">{{title}}</div>
    </div>
    <div class="textMain leading-snug text-center mx-auto">
        {{description}}
    </div>
    <!-- <button id="heroButton" class="btn-primary">{{lead_button_text}}</button> -->
</div>

<!-- image -->
<div class="w-full h-[80vh] bg-no-repeat bg-cover bg-center mt-8" style="background-image: url({{image}});"></div>

<article class="mt-8 flex flex-col items-center">
    <!-- article metadata  -->
    <div class="space-y-2 mb-16 flex flex-col prose prose-sky text-center mx-auto">
        {{if author}}
        <div id="author">
            <span class="textMeta">Author: </span>
            <span class="textSecondary">{{author}}</span>
        </div>
        {{/if}}
        <div id="date">
            <span class="textMeta">Date Published: </span>
            <span class="textSecondary">{{date_published}}</span>
        </div>

        <div id="location">
            <span class="textMeta">Originally published on: </span>
            <span class="textSecondary"><a href="{{link}}" target="_blank">{{publication}}</a></span>
        </div>
    </div>

    <div class="textMain">{{article_text}}</div>  
</article>

{{partial:contentTemplates/relatedContent}}

{{partial:globals/smoothWrapEnd}}

