<section>
    <div class="px-16 py-8 w-2/3 mx-auto mt-20 space-y-8 text-center">
        <div class="font-thin prose prose-zinc leading-tighter text-8xl">{{title}}</div>
        <div class="font-medium tracking-wider prose prose-zinc lg:prose-2xl">{{description}}</div>
    </div>

    <!-- image -->
    <div class="w-full h-[80vh] bg-no-repeat bg-cover bg-center mt-20" style="background-image: url({{image}});"></div>
    
    <article class="w-2/3 mx-auto">
        <!-- top area -->
        <div class="space-y-16 flex flex-col px-16 py-8">
    
            <!-- article metadata  -->
            <div class="space-y-2 flex flex-col prose prose-zinc text-center mx-auto">
                <div id="author">
                    <span class="uppercase font-semibold tracking-widest">Author: </span>
                    <span class="font-serif">{{author}}</span>
                </div>
                <div id="date">
                    <span class="uppercase font-semibold tracking-widest">Date Published: </span>
                    <span class="font-serif">{{date_published}}</span>
                </div>

                <div id="location">
                    <span class="uppercase font-semibold tracking-widest">Originally published on: </span>
                    <span class="font-serif"><a href="{{link}}" target="_blank">{{publication}}</a></span>
                </div>
            </div>
    
            <div class="font-serif prose prose-zinc mx-auto lg:prose-xl">{{article_text}}</div>
        </div>
    </article>
    
    <aside class="container mx-auto">
        <!-- related content -->
        <div data-speed="1.2">
            <div class="tracking-wide mb-16 text-softblack text-3xl font-semibold text-center">Related Content</div>
            <div class="grid grid-cols-2 gap-16">
                {{if related_content}}
                    {{related_content}}
                    <div class="mb-8"><a href="{{url}}">{{ partial:cards/card }}</a></div>
                    {{/related_content}}
                    {{else}}
                    No suggested content yet - add some!
                {{/if}}
            </div>
    
        </div>
    </aside>
</section>