{{partial:globals/smoothWrapStart}}

{{partial:globals/breadcrumb-tags}}

<div class="mt-40 pr-4 grid grid-cols-5 gap-8">
  <div class="col-span-3 px-16 flex flex-col">
    <div class="text-6xl font-bold leading-none tracking-tight text-white/70 mb-8">
        <div id="counting">{{title}}</div>
    </div>
    <div class="mt-8 space-y-8 fadeup">
      <!-- metadata -->
      <div class="space-y-8 flex flex-col">
        <div class="space-y-2">
          <div>
            <span class="textMeta">Author: </span>
            <span class="textSecondary">{{book_author}}</span>
          </div>
          <div>
            <span class="textMeta">Published: </span>
            <span class="textSecondary">{{date_published}}</span>
          </div>
        </div>
        <a href="{{link}}" target="_blank">
          <button
              type="button"
              class="inline-flex items-center gap-8 rounded bg-none border-2 border-white px-4 py-1 italic  leading-normal text-white shadow-light-3 transition duration-150 ease-in-out hover:bg-skyNeutral/20 hover:shadow-light-2 focus:bg-skyNeutral focus:shadow-light-2 focus:outline-none focus:ring-0 active:bg-skyNeutral active:shadow-light-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
              Buy online <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
              </svg>
          
          </button>
      </a>
      </div>
    </div>
    <div class="textMain leading-snug mx-auto">
        {{description}}
    </div>
  </div>
  
  <div class="col-span-2">
    <img src="{{image}}" alt="{{title}}" width="100%">
  </div>
</div>




{{partial:contentTemplates/relatedContent}}

{{partial:globals/smoothWrapEnd}}

  
<script>
    gsap.to('.fadeup', {
    scrollTrigger: {
        trigger: ".fadeup",
        start: "top bottom",
        end: "bottom bottom",
        toggleActions: "restart none reverse reset",
        scrub: true,
    },
    opacity: 1,
    translateY: -40,
    });
</script>