{{partial:globals/smoothWrapStart}}

{{partial:globals/breadcrumb-tags}}

<div class="container mx-auto flex flex-col items-center space-y-8 pt-4 relative">
    {{partial:contentTemplates/contentHeader}}

    <div class="z-30 space-y-8">
        {{if video_id}}
        <iframe width="812" height="480" src="https://www.youtube.com/embed/{{video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        {{else}}
        <img src="{{image}}" alt="{{title}}" class="w-full">
        {{/if}}
        <div class="space-y-2 flex flex-col items-center">
            <div>
                <span class="textMeta">Speaker: </span>
                <span class="textSecondary">{{speaker}}</span>
            </div>
            <div>
                <span class="textMeta">Date: </span>
                <span class="textSecondary">{{date_of_speech}}</span>
            </div>
            <div>
                <span class="textMeta">Location: </span>
                <span class="textSecondary">{{location}}</span>
            </div>
        </div>
        <div class="textMain pt-8 mx-auto">{{transcript}}</div>
    </div>
</div>

{{partial:contentTemplates/relatedContent}}

{{partial:globals/smoothWrapEnd}}

