{{scope:contentEntry}}
<div class="container mx-auto flex flex-col items-center space-y-8 pt-48 relative">
    <div class="text-center flex flex-col items-center">
        <h1>{{title}}</h1>
        <h3>{{description}}</h3>
    </div>

    {{if video_id}}
    <iframe width="812" height="480" src="https://www.youtube.com/embed/{{video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {{else}}
    <img src="{{image}}" alt="{{title}}" class="w-full">
    {{/if}}

    <div class="space-y-2 flex flex-col items-center">
        <div>
            <span class="textMeta">Speaker: </span>
            <span class="textSecondary">{{speaker}}</span>
        </div>
        <div>
            <span class="textMeta">Date: </span>
            <span class="textSecondary">{{date_of_speech}}</span>
        </div>
        <div>
            <span class="textMeta">Location: </span>
            <span class="textSecondary">{{location}}</span>
        </div>  
    </div>

    <div class="textMain pt-8">{{transcript}}</div>
</div>

<!-- Explore more -->
<div class="py-16 space-y-8 flex flex-col items-center bg-algae mt-20">
    <h3>Explore more {{collection_type:title}}...</h3>
    <div class="swiper exploreMoreSwiper">
        <div class="flex flex-row justify-end space-x-2 relative -left-1 mt-[40px] mb-8 mr-8 swiper-pagination">
            <div class="image-swiper-button-prev"></div>
            <div class="image-swiper-button-next"></div>
        </div>
        <div class="swiper-wrapper">
            {{collection:commencement_speeches}}
                <div class="swiper-slide" style="height: auto !important;">
                    {{partial:cards/card showCollectionType="no"}}
                </div>
            {{/collection:commencement_speeches}}
        </div>
    </div>
</div>

{{partial:cards/themeMiniHero}}

{{/scope:contentEntry}}