<div data-speed=".7" id="challengeIntroImage{{increment:introImage from='1'}}" class="px-16 flex flex-col h-full w-full pt-36 relative -z-10 pr-16 mb-8">
    <div class="text-center text-6xl font-bold leading-none tracking-tight text-white/70">
        <div id="counting">{{title}}</div>
    </div>
    <div class="textMain text-white/70 leading-snug text-center mx-auto">
        {{description}}
    </div>
    <!-- <button id="heroButton" class="btn-primary">{{lead_button_text}}</button> -->
</div>