{{partial:globals/smoothWrapStart}}

{{partial:globals/breadcrumb-tags}}

<div class="px-16 py-8 w-2/3 mx-auto mt-36 space-y-8 text-center">
    <img src="{{partner:logo}}" class="mx-auto" width="100px" alt="{{partner:title}}">
    <div class="text-center flex flex-col items-center">
        <h1>{{title}}</h1>
        <div class="prose prose-sky prose-xl mt-4 mx-auto">{{description}}</div>
    </div>
</div>

<!-- image -->
<img src="{{image}}" width="auto" class="mx-auto" alt="">

<article class="w-2/3 mx-auto">
    <!-- top area -->
    <div class="space-y-16 flex flex-col px-16 py-8">

        <!-- article metadata  -->
        <div class="space-y-2 flex flex-col prose prose-sky text-center mx-auto">
            <div id="author">
                <span class="textMeta">Author: </span>
                <span class="textSecondary">{{author}}</span>
            </div>
            <div id="date">
                <span class="textMeta">Date Published: </span>
                <span class="textSecondary">{{date_published}}</span>
            </div>

            <div id="location">
                <span class="textMeta">Originally published on: </span>
                <span class="textSecondary"><a href="{{link}}" target="_blank">{{publication}}</a></span>
            </div>
        </div>

        <div class="textMain">{{story_text}}</div>
        <a class="mx-auto" href="{{link}}" target="_blank"><button class="btn-secondary">Read more on {{publication}}</button></a>
    </div>
</article>

{{partial:contentTemplates/relatedContent}}

{{partial:globals/smoothWrapEnd}}

