{{partial:globals/smoothWrapStart}}

{{partial:globals/breadcrumb-tags}}

<div class="flex flex-col px-32 pt-40 pb-40 items-center justify-center bg-darkblack space-y-8">
    <img src="{{image}}" alt="{{title}}" width="100%" height="auto">
    <div class="flex flex-col space-y-0 w-full">
        <div class="textMeta prose prose-invert uppercase">{{photographer_name}}</div>
        <div class="textSecondary prose prose-invert"><a href="{{photographer_website}}" target="_blank">{{photographer_website}}</a></div>
    </div>
    
</div>

{{partial:contentTemplates/relatedContent}}

{{partial:globals/smoothWrapEnd}}

