{{partial:globals/smoothWrapStart}}

<div class="flex flex-row gap-[24px] mt-[114px] mb-32 px-[30px]">

    {{partial:filtersMenu}}
    {{partial:contentTemplates/contentColumnHeader}}
        <div id="contentHeader" class="space-y-3">
            <div class="flex flex-row justify-between pb-3">
                <h2 class="w-2/3">{{photographer_name}}</h2>
                {{partial:globals/socialIcons}}
            </div>
            <h1 class="border-b border-lightpurple/70 pb-6">{{title}}</h1>
            {{if photographer_website}}
            <div class="flex flex-row justify-between border-b border-lightpurple/70 pb-3">
                <a href="{{photographer_website}}" target="_blank"><h2 class="inline-flex items-center gap-2">{{photographer_website}} <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" /></svg></h2></a>
            </div>
            {{/if}}
            <div class="flex flex-row items-baseline space-x-2 border-b border-lightpurple/70 pb-3">
                <h5 class="text-lightpurple">filed under:</h5>
                <div class="space-x-4 flex flex-row">
                    {{if challenges}}
                        {{challenges}}
                        <a href="/results?categories%5B%5D={{slug}}" class="border-b hover:border-highlight border-lightpurple/70 hover:no-underline"><h4>{{title}}</h4></a>
                        {{/challenges}}
                    {{/if}}
                    {{if sections}}
                        {{sections}}
                        <a href="/results?sections%5B%5D={{slug}}" class="border-b hover:border-highlight border-lightpurple/70 hover:no-underline"><h4>{{title}}</h4></a>
                        {{/sections}}
                    {{/if}}
                    <a href="/results?collectiontype%5B%5D={{collection_type:slug}}" class="border-b hover:border-highlight border-lightpurple/70 hover:no-underline"><h4>{{collection_type:title}}</h4></a>
                </div>
            </div>
        </div>
        <div class="flex flex-col space-y-0 w-full">
            <img src="{{image}}" alt="{{title}}" width="100%" height="auto">
        </div>
    </div>  
</div>


{{partial:contentTemplates/relatedContent}}

{{partial:globals/smoothWrapEnd}}

