<div class="container mx-auto">
  <div class="relative overflow-hidden py-[33vh] flex flex-col grid grid-cols-12 gap-8 w-full">
    
    <!-- blob -->
    <div data-speed=".4" class="bg-hotpink blur-[15vh] rounded-[50%] absolute -z-10 left-[50%] mt-[40%] h-[70vh] w-[70vh] ml-[-35vh]"></div>
  
    <!-- text -->
    <div class="col-span-7 bg-hotpink/20 p-16">
        {{partial:headingText content="{{book:title}}" highlight=""}}
  
      <div class="mt-8 space-y-8">
        <!-- metadata -->
        <div class="space-y-2">
          <div>
            <span class="uppercase font-medium tracking-widest">Author: </span>
            <span class="font-serif">{{book:author}}</span>
          </div>
          <div>
            <span class="uppercase font-medium tracking-widest">Published: </span>
            <span class="font-serif">{{book:date_published}}</span>
          </div>
        </div>
  
  
        <div class="text-darkblack font-medium text-xl">{{ book:description }}</div>
        {{partial:sectionBuilderComponents/moreButtons action="Buy Now" passedType="{{type}}"}}

      </div>
    </div>

    <!-- image -->
    <div data-speed="1.5" class="col-span-4 col-start-9">
      <img src="{{book:image}}" alt="{{title}}" width="100%">
    </div>

  </div>
</div>



