<div class="container mx-auto">
    <div class="relative overflow-hidden py-[33vh] flex flex-col grid grid-cols-12 gap-0 w-full">
      
      <!-- blob -->
      <div data-speed=".4" class="bg-khaki/40 blur-[15vh] rounded-[50%] absolute -z-10 left-[50%] mt-[40%] h-[70vh] w-[70vh] ml-[-35vh]"></div>
    
      <!-- text -->
      <div class="col-span-7 bg-khaki/15 p-16 relative z-10">

        {{partial:globals/sectionTag content="Commencement Speeches" backgroundColor="bg-khaki"}}

        {{partial:globals/headingText content="{{commencement_speech:title}}" highlight="text-khaki"}}
    
        <div class="mt-8 space-y-8">
        <div class="text-khaki font-medium text-xl">{{ commencement_speech:description }}</div>
        <!-- metadata -->
        <div class="space-y-2 text-khaki">
            <div>
                <span class="uppercase font-medium tracking-wider">Speaker: </span>
                <span class="font-serif">{{commencement_speech:speaker}}</span>
            </div>
            <div>
                <span class="uppercase font-medium tracking-wider">Date: </span>
                <span class="font-serif">{{commencement_speech:date_of_talk}}</span>
            </div>
            <div>
                <span class="uppercase font-medium tracking-wider">Location: </span>
                <span class="font-serif">{{commencement_speech:location_or_event}}</span>
            </div>  
        </div>


        
        <div><a href="{{commencement_speech:url}}"><button><span class="uppercase font-medium tracking-widest">Watch Now</span></button></a></div>

        </div>
      </div>
  
      <!-- image -->
      <div data-speed="1.5" class="col-span-4 relative -left-48">
        <img src="{{commencement_speech:image}}" alt="{{title}}" width="100%">
      </div>
  
    </div>
  </div>