<div class="container mx-auto">
    <div class="relative overflow-hidden py-[33vh] flex flex-col grid grid-cols-12 gap-8 w-full">
        
        <!-- blob -->
        <div data-speed=".4" class="bg-khaki blur-[15vh] rounded-[50%] absolute -z-10 left-[50%] mt-[40%] h-[70vh] w-[70vh] ml-[-35vh]"></div>

        <!-- image -->
        <div data-speed="1.5" class="col-span-6">
            <img src="{{commencement_speech:image}}" alt="{{title}}" width="100%">
        </div>

        <!-- text -->
        <div class="col-span-5 col-start-8 bg-khaki/20 p-16">
            {{partial:headingText content="{{commencement_speech:title}}" highlight=""}}

        <div class="mt-8 space-y-8">
            <!-- metadata -->
            <div class="space-y-2">
            <div>
                <span class="uppercase font-medium tracking-wider">Speaker: </span>
                <span class="font-serif">{{commencement_speech:speaker}}</span>
            </div>
            <div>
                <span class="uppercase font-medium tracking-wider">Date: </span>
                <span class="font-serif">{{commencement_speech:date_of_talk}}</span>
            </div>
            <div>
                <span class="uppercase font-medium tracking-wider">Location: </span>
                <span class="font-serif">{{commencement_speech:location_or_event}}</span>
            </div>  
            </div>


            <div class="text-darkblack font-medium text-xl">{{ commencement_speech:description }}</div>
            {{partial:sectionBuilderComponents/moreButtons action="Watch Now" passedType="{{type}}"}}

        </div>
        </div>

    </div>
</div>



