<div id="breadcrumb" class="w-full h-auto pt-2 pb-1 bg-white/90 backdrop-blur fixed -top-16 z-40 box-border drop-shadow">
    <div class="px-16 h-full flex flex-row items-center justify-between">
        <div class="textMeta">Our Challenges / {{title}}</div>
        <div class="flex flex-row gap-6 items-center">
            {{ livewire:lf-tags blueprint="books.book" fields="collection_type" }}
            <div id="filterButton" class="cursor-pointer z-50">
                <h4 class="p-4"><i class="las la-filter"></i>Filter</h4>
            </div>
        </div>
    </div>
</div>

<div id="filtersheet" class="w-full h-0 top-36 bg-white/90 backdrop-blur fixed left-0 z-50 overflow-hidden">
    <div id="filters" class="px-16 flex flex-col relative h-[calc(100vh-200px)]">
        {{ livewire:lf-checkbox-filter
            blueprint="books.book"
            field="collection_type"
            condition="taxonomy"
        }}
        <!-- <form action="{{url}}/results" method="get" class="pt-24">
            <input type="hidden" name="challenge" value="{{slug}}">
                {{taxonomy:collection_type}}
                    <label class="textMainSans leading-loose labelcontainer">
                        <input class="rounded"
                            type="checkbox"
                            name="collectiontype[]"
                            value="{{ slug }}"
                            {{ (get:collectiontype | contains(slug)) ?= 'checked' }}>
                        {{ title }}<br>
                        <span class="checkmark"></span>
                    </label>
                    
                {{/taxonomy:collection_type}}
                <div id="filterButtons" class="flex flex-row space-x-4 w-full absolute bottom-0 z-50 bg-red">
                    <button type="submit" class="btn-primary">Apply filter</button>
                    <button id="closeFiltersButton" type="button" class="btn-tirtiary">Cancel</button>
                </div>
        </form> -->
    </div>
</div>