<div id="breadcrumbwithtags" class="w-full h-16 bg-white/90 backdrop-blur top-20 shadow-sm z-50">
    <div class="px-16 h-full flex flex-row items-center justify-between">
        <div class="textMeta">
            <span class="mr-4">Filed under:</span>
            {{if challenges}}
                {{challenges}}
                <a href="/challenges/{{slug}}" class="hover:no-underline"><span class="rounded-lg border border-solid px-4 pt-2 pb-1.5 hover:bg-skyNeutral/5 transition-all duration-300">{{title}}</span></a>
                {{/challenges}}
            {{/if}}
            {{if sections}}
                {{sections}}
                <a href="/challenges/{{slug}}" class="hover:no-underline"><span class="rounded-lg border border-solid px-4 pt-2 pb-1.5 hover:bg-skyNeutral/5 transition-all duration-300">{{title}}</span></a>
                {{/sections}}
            {{/if}}
        </div>
    </div>
</div>