<div id="breadcrumb" class="w-full h-16 bg-white fixed top-24 z-50 box-border">
    <div class="container mx-auto h-full flex flex-row items-center justify-between">
        <h4>Our Challenges / {{title}}</h4>
        <div id="filterButton" class="cursor-pointer z-50">
            <h4 class="p-4"><i class="las la-filter"></i>Filter</h4>
        </div>
    </div>
</div>

<div id="filtersheet" class="w-full h-0 top-40 bg-white/90 backdrop-blur fixed left-0 z-50 overflow-hidden">
    <div id="filters" class="container mx-auto flex flex-col relative h-[calc(100vh-200px)]">
        <form action="{{url}}/results" method="get" class="pt-24">
            <input type="hidden" name="challenge" value="{{slug}}">
                {{taxonomy:collection_type}}
                    <label class="textMainSans leading-loose labelcontainer">
                        <input class="rounded"
                            type="checkbox"
                            name="collectiontype[]"
                            value="{{ slug }}"
                            {{ (get:collectiontype | contains(slug)) ?= 'checked' }}>
                        {{ title }}<br>
                        <span class="checkmark"></span>
                    </label>
                    <style>
                        /* Customize the label (the labelcontainer) */
                        .labelcontainer {
                            position: relative;
                            padding-left: 35px;
                            margin-bottom: 12px;
                            cursor: pointer;
                            user-select: none;
                        }
                
                        /* Hide the browser's default checkbox */
                        .labelcontainer input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }
                
                        /* Create a custom checkbox */
                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 1em;
                            width: 1em;
                            background-color: #6FB6F6;
                            border-radius: 50%; /* Make it circular */
                        }
                
                        /* On mouse-over, add a grey background color */
                        .labelcontainer:hover input ~ .checkmark {
                            background-color: #B9DEFE;
                        }
                
                        /* When the checkbox is checked, add a blue background */
                        .labelcontainer input:checked ~ .checkmark {
                            background-color: #2b2f77;
                        }
                
                        /* Create the checkmark/indicator (hidden when not checked) */
                        .checkmark:after {
                            content: "";
                            position: absolute;
                            display: none;
                            /* Style the checkmark (e.g., a white dot) */
                        }
                
                        /* Show the checkmark when checked */
                        .labelcontainer input:checked ~ .checkmark:after {
                            display: block;
                            /* Style the checkmark (e.g., a white dot) */
                        }
                        </style>
                {{/taxonomy:collection_type}}
                <div id="filterButtons" class="flex flex-row space-x-4 w-full absolute bottom-0 z-50 bg-red">
                    <button type="submit" class="btn-primary">Apply filter</button>
                    <button id="closeFiltersButton" type="button" class="btn-tirtiary">Cancel</button>
                </div>
        </form>
    </div>
</div>