<div id="breadcrumb" class="w-full h-16 bg-white absolute top-24 z-50">
    <div class="container mx-auto h-full flex flex-row items-center justify-between">
        <div class="textMeta">
            <span class="mr-4">Filed under:</span>
            {{if challenges}}
                {{challenges}}
                <a href="/challenges/{{slug}}"><span class="rounded-lg border border-solid px-4 py-2">{{title}}</span></a>
                {{/challenges}}
            {{/if}}
            {{if sections}}
                {{sections}}
                <a href="/challenges/{{slug}}"><span class="rounded-lg border border-solid px-4 py-2">{{title}}</span></a>
                {{/sections}}
            {{/if}}
        </div>
    </div>
</div>