{{partial:globals/breadcrumbWithFilters}}
{{partial:globals/smoothWrapStart}}

<div id="invisibleScrollerTarget"></div>

<div id="hero-area" class="relative w-full h-screen flex flex-row items-center pl-16 space-x-16">
    <h1 class="z-10 relative">Preserving Democracy</h1>
    <div id="heroImage" style="background-image: url({{main_image:image}});"
                        class="bg-cover bg-center bg-no-repeat h-2/3 -left-48 relative z-0 aspect-[16/9]">
    </div>
    <div id="heroQuote" class="flex flex-col justify-center h-[calc(100vh-96px)] w-1/2 absolute top-[96px] right-0 z-0 shadow-xl p-16 bg-white/90 backdrop-blur">
        {{ collection:quotations challenges:contains="{{slug}}" sort="random" limit="1" }}
            <div class="mb-4 font-custom text-5xl leading-tight pr-32">{{quotation}}</div>
            <div class="textSecondary w-2/3">{{attribution}}</div>
        {{/collection:quotations}}
    </div>
</div>

<!-- <div class="flex flex-col items-center justify-center w-full text-center mx-auto z-50">
    <div id="introText" class="opacity-0 text-atomicTangerine prose prose-sky prose-2xl ">{{intro_text}}</div>
</div> -->

<!-- <div id="hiddenScrollController1" class="h-[200vh] relative z-50 bg-red-300 w-40 -top-[30vh]"></div> -->


<!-- Image and quote -->
<!-- <div class="px-32 grid grid-cols-2 gap-16 h-[80vh] w-full bg-algae">
    <div class=" bg-no-repeat bg-center bg-contain h-full w-full" style="background-image: url('{{ collection:photography_contributions challenges:contains='{slug}' sort='random' limit='1' }}{{image}}{{ /collection:photography_contributions }}');"></div>
    <div class=" flex flex-col justify-center">
        {{ collection:quotations challenges:contains="{{slug}}" sort="random" limit="1" }}
            <h5 class="mb-4">{{quotation}}</h5>
            <div class="textMeta">{{attribution}}</div>
        {{/collection:quotations}}
    </div>
</div> -->

{{partial:themeIntroBlock challengeslugpassed="{slug}"}}

<section class="hidden">
    <hr>
    <h3>Suggested entry points</h3>
    <hr>
    <hr>
    <h3>Recently added</h3>
    <hr>
    <hr>
    <h3>Trending now</h3>
    <hr>
    <hr>
    <h3>See more</h3>
</section>

<section class="relative bg-white py-24" id="allContent">
    <div class="textSecondary mb-24 text-center w-1/3 mx-auto prose prose-sky">May the insights and inspirations throughout this town meeting for the planet — presented on the wings of essays, images, speeches, artwork, film, literature, poetry, and music — move you to help fan the aspirational breezes of our shared humanity into winds of change we so urgently need.</div>

    <div id="challengeContent" class="container mx-auto grid grid-cols-12 gap-16">
        <div class="col-start-1 col-span-12">
            {{ livewire-collection:* }}
        </div>
    </div>
</section>

{{partial:globals/smoothWrapEnd}}