{{partial:globals/breadcrumbWithFilters}}
{{partial:globals/smoothWrapStart}}

<div id="invisibleScrollerTarget"></div>

<div id="hero-area" class="w-full mt-24">
    <div data-speed="0.3" id="challengeIntroImage{{increment:introImage from='1'}}" style="background-image: url({{main_image:image}});" class="challengeIntroImage w-2/3 h-screen mx-auto flex flex-col justify-end bg-no-repeat bg-center bg-contain">
        <div class="text-whitetrans -rotate-90 origin-center absolute top-1/2 -left-24">{{main_image:photographer_name}}</div>
    </div>    <!-- <div id="heroImage" style="background-image: url({{main_image:image}});"
                        class="bg-cover bg-center bg-no-repeat h-[90vh] -left-48 relative z-0 aspect-[16/9]">
    </div> -->
    <div data-speed=".7" class="px-16 flex flex-col h-full w-full pt-36 relative z-30 pr-16 -mt-8 mb-36">
        <div class="text-center text-6xl font-bold leading-none tracking-tight text-white/70">
            <div id="counting">{{title}}</div>
        </div>
        <div class="textMain leading-snug text-center mx-auto">
            {{intro}}
        </div>
        <!-- <button id="heroButton" class="btn-primary">{{lead_button_text}}</button> -->
    </div>
</div>

<!-- <div class="flex flex-col items-center justify-center w-full text-center mx-auto z-50">
    <div id="introText" class="opacity-0 text-atomicTangerine prose prose-sky prose-2xl ">{{intro_text}}</div>
</div> -->

<!-- <div id="hiddenScrollController1" class="h-[200vh] relative z-50 bg-red-300 w-40 -top-[30vh]"></div> -->


<!-- Image and quote -->
<!-- <div class="px-32 grid grid-cols-2 gap-16 h-[80vh] w-full bg-algae">
    <div class=" bg-no-repeat bg-center bg-contain h-full w-full" style="background-image: url('{{ collection:photography_contributions challenges:contains='{slug}' sort='random' limit='1' }}{{image}}{{ /collection:photography_contributions }}');"></div>
    <div class=" flex flex-col justify-center">
        {{ collection:quotations challenges:contains="{{slug}}" sort="random" limit="1" }}
            <h5 class="mb-4">{{quotation}}</h5>
            <div class="textMeta">{{attribution}}</div>
        {{/collection:quotations}}
    </div>
</div> -->


<section class="hidden">
    <hr>
    <h3>Suggested entry points</h3>
    <hr>
    <hr>
    <h3>Recently added</h3>
    <hr>
    <hr>
    <h3>Trending now</h3>
    <hr>
    <hr>
    <h3>See more</h3>
</section>

<section class="relative bg-water py-24 z-30" id="allContent">
    <div class="textSecondary mb-24 text-center w-1/3 mx-auto prose text-skyNeutral">May the insights and inspirations throughout this town meeting for the planet — presented on the wings of essays, images, speeches, artwork, film, literature, poetry, and music — move you to help fan the aspirational breezes of our shared humanity into winds of change we so urgently need.</div>
    <div id="MainFilters" class="float-left pl-16 w-1/3">
        {{ livewire:lf-checkbox-filter
            blueprint="books.book"
            field="collection_type"
            condition="taxonomy"
        }}
    </div>        
    <div class="w-full pl-1/3">
        {{ livewire-collection:* }}
    </div>
</section>

{{partial:globals/smoothWrapEnd}}