{{partial:globals/breadcrumbWithFilters}}

{{partial:globals/smoothWrapStart}}

<div id="hero-area" class="top-32">
    <img src="{{main_image:image}}" alt="{{title}}" width="100%" height="auto" class="">
    <div id="initialQuote" class="flex flex-col items-center justify-center display z-50">
        {{ collection:quotations challenges:contains="{{slug}}" sort="random" limit="1" }}
            <h2 class="mb-4 w-2/3 mx-auto text-center">{{quotation}}</h2>
            <div class="textMeta text-white w-2/3 mx-auto text-center">{{attribution}}</div>
        {{/collection:quotations}}
        <div class="text-bold">{{collection:partner_initiatives challenges:contains="{{slug}}" as="entries"}} {{entries | count}} {{/collection:partner_initiatives}} Initiatives</div>
    </div>
    <!-- <video id="earth" src="{{intro_movie}}" autoplay muted loop style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 66vh;
    object-fit: cover;2
    z-index: 0;"></video> -->
    <!-- <div id="dimmer" class="opacity-0 h-[100vh] bg-cetaceanBlue/80 absolute z-0 bottom-0 w-full"></div> -->
</div>



<!-- <div class="flex flex-col items-center justify-center w-full text-center mx-auto z-50">
    <div id="introText" class="opacity-0 text-atomicTangerine prose prose-sky prose-2xl ">{{intro_text}}</div>
</div> -->

<!-- <div id="hiddenScrollController1" class="h-[200vh] relative z-50 bg-red-300 w-40 -top-[30vh]"></div> -->


<!-- Image and quote -->
<!-- <div class="px-32 grid grid-cols-2 gap-16 h-[80vh] w-full bg-algae">
    <div class=" bg-no-repeat bg-center bg-contain h-full w-full" style="background-image: url('{{ collection:photography_contributions challenges:contains='{slug}' sort='random' limit='1' }}{{image}}{{ /collection:photography_contributions }}');"></div>
    <div class=" flex flex-col justify-center">
        {{ collection:quotations challenges:contains="{{slug}}" sort="random" limit="1" }}
            <h5 class="mb-4">{{quotation}}</h5>
            <div class="textMeta">{{attribution}}</div>
        {{/collection:quotations}}
    </div>
</div> -->

{{partial:themeIntroBlock challengeslugpassed="climate"}}

<section class="hidden">
    <hr>
    <h3>Suggested entry points</h3>
    <hr>
    <hr>
    <h3>Recently added</h3>
    <hr>
    <hr>
    <h3>Trending now</h3>
    <hr>
    <hr>
    <h3>See more</h3>
</section>

<section id="allContent">
    <div id="challengeContent" class="container mx-auto grid grid-cols-12 gap-16 mt-16 mb-32">
        <div class="col-start-1 col-span-12">
            {{ livewire-collection:* }}
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="/js/challengeShow.js"></script>

{{partial:globals/smoothWrapEnd}}