@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */


@layer base {
    h1 {
        @apply font-thin prose prose-zinc leading-tight tracking-wide antialiased text-6xl;
    }
    h2 {
        @apply text-5xl tracking-wide font-semibold prose prose-zinc mb-4 antialiased
    }
    h3 {
        @apply text-3xl tracking-wide font-medium prose prose-zinc subpixel-antialiased;
    }
    h4 {
        @apply text-2xl tracking-wide font-medium;
    }
    h5 {
        
    }
    .metaTitle {
        @apply uppercase font-medium tracking-widest antialiased;
    }
    .textMain {
        @apply font-serif prose prose-zinc mx-auto lg:prose-xl;
    }
    .textSecondary {
        @apply font-serif prose prose-zinc antialiased tracking-wide;
    }
}

/* fonts */
@font-face {
    font-family: 'BaskervilleRegular';
    src: url('/public/assets/fonts/Baskerville/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RaporThin';
    src: url('/public/assets/fonts/RAPORWOFF2/Rapor-Thin.woff2') format('woff2'),
         url('/public/assets/fonts/RAPORWOFF/Rapor-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RaporRegular';
    src: url('/public/assets/fonts/RAPORWOFF2/Rapor-Regular.woff2') format('woff2'),
         url('/public/assets/fonts/RAPORWOFF/Rapor-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RaporMedium';
    src: url('/public/assets/fonts/RAPORWOFF2/Rapor-Medium.woff2') format('woff2'),
         url('/public/assets/fonts/RAPORWOFF/Rapor-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RaporMediumItalic';
    src: url('/public/assets/fonts/RAPORWOFF2/Rapor-MediumItalic.woff2') format('woff2'),
         url('/public/assets/fonts/RAPORWOFF/Rapor-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RaporSemibold';
    src: url('/public/assets/fonts/RAPORWOFF2/Rapor-Semibold.woff2') format('woff2'),
         url('/public/assets/fonts/RAPORWOFF/Rapor-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RaporBold';
    src: url('/public/assets/fonts/RAPORWOFF2/Rapor-Bold.woff2') format('woff2'),
         url('/public/assets/fonts/RAPORWOFF/Rapor-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RaporExtraBold';
    src: url('/public/assets/fonts/RAPORWOFF2/Rapor-ExtraBold.woff2') format('woff2'),
         url('/public/assets/fonts/RAPORWOFF/Rapor-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

  
em {
    font-style: italic;
}
strong {
    font-weight: 600;
}

button {
    background-color: none;
    color: black;
    border-radius: 2em;
    border: solid thin black;
    display: inline-block;
    width: auto;
    padding: .25rem 2rem;
    align-self: flex-start;
    margin-bottom: 1rem;
    font-family: 'BaskervilleRegular', 'serif';
    font-size: .75em;
}

/* SWIPER */

.image-swiper-button-next,
.image-swiper-button-prev {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
}
.image-swiper-button-next {
  background-image: url('/public/assets/icons/next.svg');
  left: 8em;
}
.image-swiper-button-next_white {
    background-image: url('/public/assets/icons/next-wetwhite.svg');
    left: 8em;
  }
.image-swiper-button-prev {
  background-image: url('/public/assets/icons/next.svg');
  transform: rotate(180deg);
}
.swiper-button-disabled {
    opacity: .3;
}