@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */


@layer base {
    body {
        @apply text-textBlue font-josephin font-normal;
    }
    .display {
        @apply font-josephin font-extralight tracking-tight leading-tight text-9xl text-atomicTangerine;
    }
    h1 {
        @apply font-josephin font-semibold text-cetaceanBlue leading-tight text-4xl xl:text-5xl;
    }
    h2 {
        @apply lg:text-2xl font-josephin font-semibold leading-tight antialiased;
    }
    h3 {
        @apply text-lg xl:text-2xl font-josephin font-semibold leading-tight antialiased;
    }
    h4 {
        @apply xl:text-xl font-josephin font-semibold antialiased w-fit;
    }
    h6 {
        @apply text-2xl tracking-wide text-yellow-600 font-serif leading-normal prose prose-sky subpixel-antialiased;
    }
    h5 {
        @apply font-josephin font-light text-2xl leading-normal;
    }
    a {
        @apply text-stPatrickBlue hover:underline underline-offset-4;
    }
    .textMeta {
        @apply uppercase font-josephin text-xs font-medium antialiased text-spaceCadet tracking-widest w-fit mt-[.25em];
    }
    .textMain {
        @apply font-serif prose prose-sky mx-auto lg:prose-xl;
    }
    .textMainSans {
        @apply font-josephin font-light subpixel-antialiased prose prose-sky mx-auto leading-normal text-xl;
    }
    .textMainSans2 {
        @apply font-josephin font-light text-yellow-600 subpixel-antialiased prose prose-sky mx-auto leading-normal text-xl;
    }
    .textSecondary {
        @apply font-serif text-spaceCadet antialiased tracking-tight;
    }
}

@layer components {
    .btn-primary {
        @apply font-josephin font-semibold xl:text-xl text-softblack tracking-wider rounded px-6 py-4 bg-neonblast hover:bg-neonblastbright transition-all w-fit;
    }
    .btn-inverse {
        @apply bg-white hover:bg-white text-softblack;
    }
    .btn-secondary {
        @apply font-josephin font-semibold text-xl text-white tracking-wider bg-atomicTangerine rounded px-8 py-2 hover:bg-atomicTangerine/80 transition-all w-fit;
    }
    .btn-tirtiary {
        @apply font-josephin font-semibold xl:text-xl text-softblack tracking-wider bg-none border border-solid border-textBlue rounded px-8 py-2 w-fit;
    }
}

  



/* SWIPER */

.image-swiper-button-next,
.image-swiper-button-prev {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
}
.image-swiper-button-next {
  background-image: url('/public/assets/icons/next.svg');

}
.image-swiper-button-next_white {
    background-image: url('/public/assets/icons/next-wetwhite.svg');

  }
.image-swiper-button-prev {
  background-image: url('/public/assets/icons/next.svg');
  transform: rotate(180deg);
}
.swiper-button-disabled {
    opacity: .3;
}
.swiper {
    width: 100%;
    height: 100%;
  }

@font-face {
    font-family: 'Poster';
    src: url('../fonts/TwCenPosterMTStd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Display';
    src: url('../fonts/FarnhamDisplayLightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
  