
<div class="resultCard overflow-hidden bg-darkBlue rounded-2xl pb-[15px] mb-[6px]">
    <a href="{{url}}" class="hover:no-underline">        
        <div class="w-full flex flex-col justify-end overflow-hidden">
            <img src="{{image}}" class="max-h-full max-w-full object-contain" alt="{{title}}">
        </div>

        <div class="py-0 px-4 mt-[12px] flex flex-col">

            <h3>{{title}}</h3>
            {{if speaker}}
                <p class=" antialiased">{{speaker}}</p>
            {{/if}}
            {{if articleauthor}}
                <p class=" antialiased">{{articleauthor}}</p>
            {{/if}}
            {{if book_author}}
                <p class=" antialiased">{{book_author}}</span>
            {{/if}}
            <h5 class="mt-[9px]">{{collection:title}}</h5>
            <!-- <div class="font-serif leading-6 text-base">{{ description }}</div> -->
        </div>
    </a>
</div>
