<div class="flex flex-row gap-12 rounded overflow-hidden pb-8">
    <div class="w-full mb-2 bg-contain bg-no-repeat bg-bottom flex p-2 items-end" style="background-image: url({{image}});">
        
    </div>
    
    <div class="pb-4 mt-3 flex flex-col">
        {{partial:cards/tape passedValue="{{collection:title}}"}}
        <div class="mt-3">
            <a href="{{url}}">
                <h3 class="mb-2">{{title}} <i class="las la-angle-right text-xl"></i></h3>
            </a>
            <div class="leading-snug">{{description}}</div>
        </div>
    </div>
</div>