<div class="flex flex-col rounded overflow-hidden pb-2">
    <div class="w-full h-[70vh] mb-2 bg-contain bg-no-repeat bg-bottom flex p-2 items-end" style="background-image: url({{image}});">
        
    </div>
    
    <div class="py-0 pb-4 flex flex-col space-y-0">
        <a href="/index?collectiontype%5B%5D={{collection_type:slug}}">{{partial:tag label="{{collection:title}}"}}</a>
        <a href="{{url}}">
            <div class="font-sans leading-tighter text-3xl">{{title}}</div>
        </a>
        
        <!-- <div class="font-serif leading-6 text-base">{{ description }}</div> -->
    </div>
</div>